/* Form
==========
*/

form {
    @extend .clearfix;

    margin: 0 0 rem(map-get($form, margin-bottom)) 0;

    &.form--no-margin {
        margin: 0;
    }
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: map-get($form, legend-border-bottom);
    margin-bottom: rem(map-get($form, legend-margin-bottom));
    font-size: rem(map-get($form, legend-font-size));
    line-height: rem(map-get($form, legend-line-height));
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    background-color: map-get($form, input-bg-color);
    color: #333333;
    border-radius: map-get($base, border-radius);
    border: map-get($form, input-border);
    outline: 0;
    width: 100%;
    padding: rem(map-get($form, input-padding-vertical)) rem(map-get($form, input-padding-horizontal));
    font-size: rem(14px);
    transition: all map-get($base, transition-speed);
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
        border: map-get($form, input-border);
        box-shadow: map-get($form, input-focus-box-shadow);
    }

    &:disabled {
        background-color: map-get($form, input-disabled-bg-color);
        cursor: not-allowed;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px map-get($form, input-bg-color) inset;
}

/*doc
---
title: Textarea
name: textarea
category: Forms
---

```html_example
<div class="form__row">
    <div class="column-5 form__label">
        <label>Vraag / opmerking</label>
    </div>
    <div class="column-7">
        <div class="column-10 form__input">
            <textarea cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
```

*/

textarea {
    display: block;
    height: rem(map-get($form, textarea-height));
}

select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    padding: rem(map-get($form, select-padding-top)) rem(map-get($form, select-padding-right)) rem(map-get($form, select-padding-bottom)) rem(map-get($form, select-padding-left));
    outline: none;
    color: map-get($form, select-color);
    cursor: pointer;
    z-index: 2;
    border: none;
    font-size: rem(14px);
    transition: box-shadow map-get($base, transition-speed);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 1px;
    // End of brutal hack

    &:focus {
        box-shadow: map-get($form, select-hover-box-shadow);
    }

    &[multiple=multiple] {
        height: auto;
        border: map-get($form, input-border);
        border-radius: map-get($base, border-radius);
        box-shadow: map-get($form, select-multiple-box-shadow);

        &:focus,
        &:hover {
            box-shadow: map-get($form, select-hover-box-shadow);
        }
    }

    option[disabled] {
        color: map-get($color, placeholder);
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
    display: none;
}

/*doc
---
title: Forms
name: 4_forms
category: Forms
---

*/


/*doc
---
title: Form vertical
name: form_vertical
category: Forms
---

```html_example
<form class="form form--vertical" data-form-validate novalidate="novalidate">
    <h2>Vertical form</h2>
    <div class="grid column-4 column-centered">
        <div class="form__row">
            <div class="form__label">
                <label>Aanhef</label>
            </div>
            <div class="form__input">
                <div class="form__select">
                    <select name="aanhef" id="" required="required">
                        <option value="" disabled="disabled" selected="selected">Kies een optie</option>
                        <option value="Dhr.">Dhr.</option>
                        <option value="Mevr.">Mevr.</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form__row">
            <div class="form__label">
                <label>Website *</label>
            </div>
            <div class="form__input">
                <input type="url">
            </div>
        </div>

        <div class="form__actions">
            <p class="form__required-field"><i>* = Verplicht veld</i></p>
            <button class="btn btn--beta btn--medium" type="submit">send</button>
        </div>
    </div>
</form>
```

*/


/*doc
---
title: Form horizontal
name: form_horizontal
category: Forms
---

Use the grid to your advantage.

```html_example
<form class="form form--horizontal" data-form-validate novalidate="novalidate">
    <div class="grid grid--no-gutters column-beta-6 column-gamma-and-up-5 column-centered">
        <div class="column-8"><input type="text" placeholder="E-mailadres"></div>
        <div class="column-4"><button class="btn btn--beta btn--block btn--medium" type="submit">send</button></div>
    </div>
</form>
```

*/
