/* Form validation
==========
*/

.form__input--error,
.form__input--success {
    &:after {
        position: absolute;
        right: 10px;
        top: 9px;
    }
}

.form__input--error {
    animation-duration: 0.5s;
    animation-name: shake;

    &.form__input--validation-absolute {
        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="week"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        textarea {
            @include rem(border-radius, map-get($base, border-radius) map-get($base, border-radius));
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: map-get($form, input-focus-box-shadow);
        }
    }

    .form__select {
        &:after {
            color: map-get($form, validation-color);
        }
    }
}

%arrow {
    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -#{map-get($form, validation-arrow-size)*2};
        left: 0;
        border: map-get($form, validation-arrow-size) solid transparent;
        border-bottom-color: map-get($form, validation-color);
    }
}

.parsley-container {
    @extend .list-unstyled;

    display: none;
    clear: both;
    max-width: 100%;
    position: relative;
    background: map-get($form, validation-color);
    color: white;

    @include rem(border-radius, 0 0 map-get($base, border-radius) map-get($base, border-radius));
    @include rem(padding, map-get($form, input-padding));
    @include rem(font-size, map-get($form, validation-font-size));

    .form__input--error & {
        display: block;
    }

    .form__input--validation-absolute & {
        @extend %arrow;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        transform: translateY(100%);

        @include rem(border-radius, 0 map-get($base, border-radius) map-get($base, border-radius) map-get($base, border-radius));
        @include rem(bottom, -(map-get($form, validation-arrow-size)*1.5));
    }
}

.form__input--error {
    + .parsley-container {
        @extend %arrow;

        display: inline-block;

        @include rem(border-radius, 0 map-get($base, border-radius) map-get($base, border-radius) map-get($base, border-radius));
        @include rem(margin-top, map-get($form, validation-arrow-size)*2);
    }
}

/*doc
---
title: Validation
name: validation
category: Forms
---

We use the jQuery plugin [parsleyjs](http://parsleyjs.org) for our validation engine.

```html_example
<form class="form" action="?action=ajax" data-form-ajax data-form-ajax-method="GET" data-form-ajax-datatype="json" data-form-ajax-url="form-ajax.json" data-form-ajax-msg-container="#form-message" data-form-validate novalidate="novalidate">
    <div id="form-message"></div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Aanhef</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <div class="form__select">
                        <select name="aanhef" id="" required="required">
                            <option value="" disabled="disabled" selected="selected">Kies een optie</option>
                            <option value="Dhr.">Dhr.</option>
                            <option value="Mevr.">Mevr.</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Postcode</label>
            </div>
            <div class="column-7">
                <div class="column-3 form__input">
                    <input type="text" placeholder="0123AB" data-parsley-pattern="^\d{4}[a-zA-Z]{2}$" data-parsley-error-message="Dit is geen geldige postcode." data-parsley-maxlength="6" maxlength="6" />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Telefoonnummer</label>
            </div>
            <div class="column-7">
                <div class="column-4 form__input">
                    <input type="tel" placeholder="0123456789" data-parsley-type="digits" data-parsley-minlength="10" data-parsley-error-message="Dit is geen geldig telefoonnummer." />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>IBAN-nummer (NL)</label>
            </div>
            <div class="column-7">
                <div class="column-4 form__input">
                    <input type="tel" placeholder="NL01INGB0123456789" pattern="^(([a-zA-Z]{2}\d{2})?([a-zA-Z]{4}\d{10})|(\d{7}|\d{9,10}))$" data-parsley-error-message="Dit is geen gelding IBAN nummer." />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>E-mailadres *</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <input type="email" placeholder="jouwnaam@adres.nl" />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Wachtwoord *</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <input id="password" type="password" />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Herhaal wachtwoord *</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <input type="password" data-parsley-equalto="#password" data-parsley-error-message="Wachtwoorden zijn niet identiek." />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Website *</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <input type="url" />
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Some checkboxes</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <ul class="form__input-list list-unstyled">
                        <li><input name="checkbox2" type="checkbox" checked="checked" id="checkbox10" data-parsley-mincheck="2" /><label for="checkbox10">Checkbox</label></li>
                        <li><input name="checkbox2" type="checkbox" id="checkbox11" /><label for="checkbox11">Checkbox</label></li>
                        <li><input name="checkbox2" type="checkbox" id="checkbox12" /><label for="checkbox12">Checkbox</label></li>
                        <li><input name="checkbox2" type="checkbox" id="checkbox13" /><label for="checkbox13">Checkbox</label></li>
                        <li><input name="checkbox2" type="checkbox" id="checkbox14" /><label for="checkbox14">Checkbox</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form__row">
            <div class="column-5 form__label">
                <label>Some radio buttons</label>
            </div>
            <div class="column-7">
                <div class="column-6 form__input">
                    <ul class="form__input-list list-unstyled">
                        <li><input required="required" name="radio2" type="radio" id="radio13" /><label for="radio13">Radio</label></li>
                        <li><input name="radio2" type="radio" id="radio14" /><label for="radio14">Radio</label></li>
                        <li><input name="radio2" type="radio" id="radio10" /><label for="radio10">Radio</label></li>
                        <li><input name="radio2" type="radio" id="radio11" /><label for="radio11">Radio</label></li>
                        <li><input name="radio2" type="radio" id="radio12" /><label for="radio12">Radio</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form__actions">
        <p class="form__required-field"><i>* = Required field</i></p>
        <input class="btn btn--beta btn--medium" type="submit" value="send" />
    </div>

</form>
```

*/