/*================================================
=            Default project settings            =
================================================*/


/*==========  Legacy support  ==========*/
$legacy-support-for-ie6     : false;
$legacy-support-for-ie7     : false;
$legacy-support-for-ie8     : true;
$legacy-support-for-mozilla : false;


/*==========  Project  ==========*/
$project-base-font-size    : 1em;     // 16px
$white                     : #ffffff;
$primary-color             : #0659a4;
$primary-header-text-color : #94adc4;
$placeholder-color         : #94adc4;


/*==========  Container  ==========*/
$container-min-width              : 20em;      // 320px
$container-max-width              : 80em;      // 1280px
$container-margin                 : 0 auto;
$container-padding                : 0 0.625em; // 10px (mobile first)
$container-medium-padding         : 0 1.25em;  // 20px
$container-large-and-up-padding   : 0 2.5em;   // 40px


/*==========  Susy grid  ==========*/
$total-columns : 12;      // a 12-column grid
$column-width  : 10em;    // width is controlled with container max-width setting, so a high value is set here.
$gutter-width  : 1.250em; // 20px gutters between columns
$grid-padding  : 0;       // 0 grid padding


/*==========  Button colors  ==========*/
// If you need more customization,
// dive into the buttons partial.
$btn-gradient           : true;
$btn-border-radius      : 0.188em; // 3px
$btn-default-bg-color   : #222222;
$btn-primary-bg-color   : $primary-color;
$btn-secondary-bg-color : #177f12;
$btn-tertiary-bg-color  : #a40606;
$btn-quadiary-bg-color  : #069ea4;


/*==========  Icons  ==========*/
// Use Fontello font icons.
// fontello.com
$icon-notification-info       : '';
$icon-notification-success    : '✔';
$icon-notification-error      : '✖';
$icon-form-validation-success : $icon-notification-success;
$icon-form-validation-error   : $icon-notification-error;


/*==========  Tables  ==========*/
$table-margin-bottom  : 30px;
$table-padding        : 10px;
$table-border-color   : #dddddd;
$table-border-radius  : 3px;
$table-zebra-bg-color : #f8f8f8;
$table-hover-bg-color : #f6f6f6;


/*==========  Tooltips  ==========*/
$tooltip-width                  : 220px;
$tooltip-arrow-width            : 5px;
$tooltip-transition-speed       : 0.2s;
$tooltip-bg-color               : $primary-color;
$tooltip-padding                : 0.625em; // 10px
$tooltip-border-radius          : 0.188em; // 3px
$tooltip-font-size              : 0.750em; // 12px
$tooltip-font-color             : #ffffff;


/*==========  Modals  ==========*/
$modal-overlay-bg-color      : #000000;
$modal-overlay-opacity       : 0.4;
$modal-content-bg-color      : #ffffff;
$modal-content-padding       : 2.500em; // 40px
$modal-content-border-radius : 0;


/*==========  Accordion  ==========*/
$accordion-transition-speed    : 0.3s;
$accordion-padding             : 10px;
$accordion-border-color        : #f3f3f3;
$accordion-gradient            : true;
$accordion-border-radius       : 3px;
$accordion-group-margin-bottom : 0;
$accordion-trigger-bg-color    : $primary-color;
$accordion-trigger-font-color  : $white;


/*==========  Pagination  ==========*/
$pagination-gradient         : true;
$pagination-align            : center;
$pagination-font-color       : $white;
$pagination-padding          : 10px 15px;
$pagination-border-radius    : 3px;
$pagination-margin-bottom    : 30px;
$pagination-bg-color         : $primary-color;
$pagination-transition-speed : 0.2s;
