/*================================================
=            Default project settings            =
================================================*/


/*==========  Project  ==========*/
$gradient                  : false;
$ten                       : 0.625em;
$base-font-size            : 16px;
$base-padding              : 10px;
$base-border-radius        : 2px;
$base-transition-speed     : 0.2s;
$white                     : #ffffff;
$black                     : #000000;
$color-text                : #222222;
$color-placeholder         : #94adc4;
$color-selection           : #d1e4fe;
$color-alpha               : #e8e8e8;
$color-beta                : #0659a4;
$color-gamma               : #177f12;
$color-delta               : #a40606;
$color-epsilon             : #069ea4;


/*==========  Container  ==========*/
$container-min-width              : $ten*32;
$container-max-width              : $ten*128;
$container-margin                 : 0 auto;
$container-padding                : $ten;
$container-beta-padding           : $ten*2;
$container-gamma-padding          : $ten*4;


/*==========  Susy grid  ==========*/
$total-columns : 12;
$column-width  : 5.1em;   // 12 * 5.1 = 1200px
$gutter-width  : $ten*2;
$grid-padding  : 0;


/*==========  Buttons  ==========*/
$btn-container-padding       : $base-padding $base-padding*1.8;
$btn-container-margin-bottom : $ten*3;
$btn-gradient                : $gradient;
$btn-border-radius           : $base-border-radius;
$btn-bg-color-alpha          : $color-alpha;
$btn-bg-color-beta           : $color-beta;
$btn-bg-color-gamma          : $color-gamma;
$btn-bg-color-delta          : $color-delta;
$btn-bg-color-epsilon        : $color-epsilon;


/*==========  Icons  ==========*/
// Use Fontello font icons.
// fontello.com
$icon-notification-info       : '';
$icon-notification-success    : '✔';
$icon-notification-error      : '✖';
$icon-form-validation-success : $icon-notification-success;
$icon-form-validation-error   : $icon-notification-error;
$icon-form-checkbox           : '';
$icon-form-select             : '';


/*==========  Tables  ==========*/
$table-margin-bottom  : $ten*3; // 30px
$table-padding        : $base-padding;
$table-border-color   : #dddddd;
$table-border-radius  : $base-border-radius;
$table-zebra-bg-color : #f8f8f8;
$table-hover-bg-color : #f6f6f6;


/*==========  Tooltips  ==========*/
$tooltip-width                  : 220px; // 220px
$tooltip-arrow-width            : 5px; // 5px
$tooltip-transition-speed       : $base-transition-speed;
$tooltip-bg-color               : $color-beta;
$tooltip-padding                : $base-padding;
$tooltip-border-radius          : $base-border-radius;
$tooltip-font-size              : $ten*1.2; // 12px
$tooltip-font-color             : $white;


/*==========  Modals  ==========*/
$modal-overlay-bg-color      : $black;
$modal-overlay-opacity       : 0.6;
$modal-content-bg-color      : $white;
$modal-content-padding       : $ten*4; // 40px
$modal-content-border-radius : $base-border-radius;


/*==========  Accordion  ==========*/
$accordion-transition-speed    : $base-transition-speed;
$accordion-padding             : $base-padding;
$accordion-border-color        : darken($btn-bg-color-alpha, 10%);
$accordion-gradient            : $gradient;
$accordion-border-radius       : $base-border-radius;
$accordion-group-margin-bottom : 0;
$accordion-trigger-bg-color    : $btn-bg-color-alpha;
$accordion-trigger-font-color  : $color-text;


/*==========  Breadcrumbs  ==========*/
$breadcrumbs-bg-color      : #f5f5f5;
$breadcrumbs-padding       : $ten*1.5 $ten*2; // 15px 20px
$breadcrumbs-margin        : $ten; // 10px
$breadcrumbs-divider-color : #cccccc;
$breadcrumbs-current-color : #aaaaaa;


