/*================================================
=            Default project settings            =
================================================*/


/*==========  Project  ==========*/

$gradient               : false;
$ten                    : 0.625em;
$base-font-size         : 16px;
$base-padding           : 10px;
$base-border-radius     : 2px;
$base-transition-speed  : 0.2s;
$white                  : #ffffff;
$black                  : #000000;
$color-body             : $black;
$color-background       : $white;
$color-text             : #222222;
$color-placeholder      : #94adc4;
$color-selection        : #d1e4fe;
$color-alpha            : #f1f1f1;
$color-beta             : #2690b0;
$color-gamma            : #4eb455;
$color-delta            : #b44e4e;
$color-epsilon          : #444444;
$color-zeta             : #aba346;


/*==========  Container  ==========*/

$container-min-width     : $ten*32;
$container-max-width     : $ten*128;
$container-margin        : 0 auto;
$container-padding       : $ten;
$container-beta-padding  : $ten*2;
$container-gamma-padding : $ten*4;


/*==========  Susy grid  ==========*/

$susy-total-columns: 12;
$susy-column-width: 4em;
$susy-gutters: 1/2;

$susy: (
    // More settings:
    // http://susydocs.oddbird.net/en/latest/
    columns: $susy-total-columns,
    gutters: $susy-gutters,
    column-width: $susy-column-width,
    global-box-sizing: border-box
);


/*==========  Buttons  ==========*/

$btn-container-padding       : $base-padding $base-padding*1.8;
$btn-container-margin-bottom : $ten*3;
$btn-gradient                : $gradient;
$btn-border-radius           : $base-border-radius;
$btn-bg-color-alpha          : $color-alpha;
$btn-bg-color-beta           : $color-beta;
$btn-bg-color-gamma          : $color-gamma;
$btn-bg-color-delta          : $color-delta;
$btn-bg-color-epsilon        : $color-epsilon;


/*==========  Icons  ==========*/

$icon-notification-info       : '';
$icon-notification-success    : '';
$icon-notification-error      : '';
$icon-form-validation-success : $icon-notification-success;
$icon-form-validation-error   : $icon-notification-error;
$icon-form-checkbox           : '';
$icon-form-select             : '';
$icon-spinner-alpha           : '';
$icon-spinner-beta            : '';
$icon-spinner-gamma           : '';


/*==========  Tables  ==========*/

$table-margin-bottom  : $ten*3;
$table-padding        : $base-padding;
$table-border-color   : darken($btn-bg-color-alpha, 5%);
$table-border-radius  : $base-border-radius;
$table-zebra-bg-color : #f8f8f8;
$table-hover-bg-color : #f6f6f6;


/*==========  Tooltips  ==========*/

$tooltip-width                  : 220px;
$tooltip-arrow-width            : 5px;
$tooltip-transition-speed       : $base-transition-speed;
$tooltip-bg-color               : $color-beta;
$tooltip-padding                : $base-padding;
$tooltip-border-radius          : $base-border-radius;
$tooltip-font-size              : $ten*1.2;
$tooltip-font-color             : $white;


/*==========  Modals  ==========*/

$modal-overlay-bg-color      : $black;
$modal-overlay-opacity       : 0.4;
$modal-content-bg-color      : $white;
$modal-content-padding       : $ten*4;
$modal-content-border-radius : $base-border-radius;


/*==========  Accordion  ==========*/

$accordion-transition-speed    : $base-transition-speed;
$accordion-padding             : $base-padding;
$accordion-border-color        : darken($btn-bg-color-alpha, 5%);
$accordion-gradient            : $gradient;
$accordion-border-radius       : $base-border-radius;
$accordion-group-margin-bottom : 0;
$accordion-trigger-bg-color    : $btn-bg-color-alpha;
$accordion-trigger-font-color  : $color-text;


/*==========  Breadcrumbs  ==========*/

$breadcrumbs-bg-color      : #f5f5f5;
$breadcrumbs-padding       : $ten*1.5 $ten*2;
$breadcrumbs-margin        : $ten;
$breadcrumbs-divider-color : #cccccc;
$breadcrumbs-current-color : #aaaaaa;


/*==========  Pricing tables  ==========*/

$pricing-table-border-color    : darken($btn-bg-color-alpha, 5%);
$pricing-table-header-bg-color : lighten($black, 20%);


/*==========  Progress bar  ==========*/

$progress-bar-bg-color       : $color-alpha;
$progress-bar-value-bg-color : $color-beta;


/*==========  Spinners  ==========*/
$spinner-animation-speed : 1s;
$spinner-font-size       : 30px;


