/* Notification sizes
==========
*/

.notification--alpha {
    padding: rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha-left));

    &:before {
        top: rem(2px);
    }
}

.notification--beta {
    padding: rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha)) rem(map-get($notifications, padding-alpha-left));

    @include mq(beta-and-up) {
        padding: rem(map-get($notifications, padding-beta)) rem(map-get($notifications, padding-beta)) rem(map-get($notifications, padding-beta)) rem(map-get($notifications, padding-beta-left));
        min-height: rem(85px);

        &:before {
            font-size: rem(60px);
            left: rem(20px);
        }
    }
}