@keyframes fadeInUp {
    0% {
        transform: translate3d(0, 100%, 0);

        @include breakpoint(beta-and-up) {
                opacity: 0;
        }
    }

    100% {
        transform: none;

        @include breakpoint(beta-and-up) {
                opacity: 1;
        }
    }
}

.animation-fadeInUp {
    animation-name: fadeInUp;
}