@keyframes fadeInUpBig {
    0% {
        transform: translate3d(0, 2000px, 0);

        @include breakpoint(beta-and-up) {
                opacity: 0;
        }
    }

    100% {
        transform: none;

        @include breakpoint(beta-and-up) {
                opacity: 1;
        }
    }
}

.animation-fadeInUpBig {
    animation-name: fadeInUpBig;
}