/*doc
---
title: Default lists
name: default_list
category: Typography
---

## Unordened list

```html_example
<ul>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
```

## Ordened list

```html_example
<ol>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ol>
```

*/

ul {
    padding-left: rem(18px);
}

ol {
    padding-left: rem(24px);
}

/*doc
---
title: Unstyled list
name: unstyled_list
category: Typography
---

## Unordened list

```html_example
<ul class="list-unstyled">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
```

*/

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*doc
---
title: Inline list
name: inline_list
category: Typography
---

```html_example
<ul class="list-inline">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
```

*/

.list-inline {
    @extend .list-unstyled;

    li {
        display: inline-block;
        margin-right: rem(10px);
    }
}