/* Button container
==========
*/

.btn-container {
    @extend .clearfix;

    margin-bottom: rem(map-get($btn, container-margin-bottom));

    a {
        padding: rem(map-get($btn, container-btn-padding-vertical)) rem(map-get($btn, container-btn-padding-horizontal));
    }

    &--center {
        text-align: center;

        ul {
            display: inline-block;
        }
    }

    &--right {
        text-align: right;

        ul {
            float: right;
        }
    }
}