/* Button sizes
==========
*/

.btn--small {
	padding: rem(map-get($btn, padding-small-vertical)) rem(map-get($btn, padding-small-horizontal));
	font-size: rem(map-get($btn, font-size-small));
}

.btn--medium {
	padding: rem(map-get($btn, padding-medium-vertical)) rem(map-get($btn, padding-medium-horizontal));

	@include mq(beta-and-up) {
		padding: rem(map-get($btn, padding-medium-beta-vertical)) rem(map-get($btn, padding-medium-beta-horizontal));
		font-size: rem(map-get($btn, font-size-medium));
	}
}

.btn--large {
	padding: rem(map-get($btn, padding-large-vertical)) rem(map-get($btn, padding-large-horizontal));

	@include mq(beta-and-up) {
		padding: rem(map-get($btn, padding-large-beta-vertical)) rem(map-get($btn, padding-large-beta-horizontal));
		font-size: rem(map-get($btn, font-size-large));
	}
}

/*doc
---
title: Sizes
name: sizes
category: Buttons
---

All size related stuff can be edited in the settings file.

```html_example
<a class="btn btn--beta btn--small" href="#link">button small</a>
<a class="btn btn--beta btn--medium" href="#link">button medium</a>
<a class="btn btn--beta btn--large" href="#link">button large</a>
```

*/