/*doc
---
title: Styles
name: styles
category: Buttons
---

Add more colors in the settings file under "buttons" if you need to.

```html_example
<a class="btn btn--alpha btn--small" href="#link">alpha</a>
<a class="btn btn--beta btn--small" href="#link">beta</a>
<a class="btn btn--gamma btn--small" href="#link">gamma</a>
<a class="btn btn--delta btn--small" href="#link">delta</a>
<a class="btn btn--epsilon btn--small" href="#link">epsilon</a>
```

*/

@mixin btn-style($bg-color) {
	background-color: $bg-color;
	border-color: darken($bg-color, map-get($btn, border-color-darken));

	&:hover {
		background-color: darken($bg-color, 2%);
	}

	&:active,
	&:focus {
		background-color: darken($bg-color, 4%);
	}

	&--divider:hover,
	&:disabled,
	&:disabled:hover {
		background-color: $bg-color;
	}

	&.btn--ghost {
		color: $bg-color;
		border-color: $bg-color;

		&:hover {
			background: $bg-color;
			color: white;
			border-color: $bg-color;
		}

		&.btn--alpha,
		&.btn--light {
			&:hover {
				color: map-get($color, text);
			}
		}
	}

	.btn-group--block & {
		border-top: rem(1px) solid lighten($bg-color, 3%);
	}
}

.btn {
	overflow: hidden; // Needed for the ripple effect
	vertical-align: middle;
	background-image: none;
	position: relative;
	display: inline-block;
	color: map-get($color, text);
	border-radius: map-get($btn, border-radius);
	border: 0;
	outline: 0;
	text-align: center;
	border-width: map-get($btn, border-width);
	border-style: solid;
	transition: all map-get($base, transition-speed);
	-webkit-appearance: none;
	-moz-appearance: none;
	user-select: none;
	line-height: rem(map-get($btn, line-height));
	z-index: 1; // Webkit bug, see: http://stackoverflow.com/questions/16687023/bug-with-transform-scale-and-overflow-hidden-in-chrome

	@include btn-style(map-get($btn-bg, alpha));

	@if map-get($btn, gradient) {
		background-image: map-get($btn, gradient-bg);
	}

	&.tooltip {
		overflow: visible;
	}

	&:hover {
		color: map-get($color, text);
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&:disabled:hover {
		cursor: not-allowed;
		color: darken(white, 20%);
		opacity: 0.5;

		&:focus {
			box-shadow: none;
		}
	}
}

.btn--beta,
.btn--gamma,
.btn--delta,
.btn--epsilon {
	color: white;
	text-shadow: map-get($btn, text-shadow);

	&:hover {
		color: white;
	}

	&:disabled,
	&:disabled:hover {
		color: darken(white, 20%);
	}
}

@each $key, $value in $btn-bg {
	.btn--#{$key} {
		@include btn-style(map-get($btn-bg, $key));
	}
}

.btn--divider {
	cursor: default;
}
