/* Modal Flip
==========
*/

.modal {
    &[data-modal-effect|=flip] {
        perspective: 1300;

        .modal__content {
            opacity: 0;
            transform-style: preserve-3d;
            transition: all 0.3s;
        }

        &.modal-show {
            .modal__content {
                opacity: 1;
            }
        }
    }

    &[data-modal-effect=flip-horizontal] {
        .modal__content {
            transform: rotateY(-70deg);
        }

        &.modal-show {
            .modal__content {
                transform: rotateY(0);
            }
        }
    }

    &[data-modal-effect=flip-vertical] {
        .modal__content {
            transform: rotateX(-70deg);
        }

        &.modal-show {
            .modal__content {
                transform: rotateX(0);
            }
        }
    }
}