/* Modals
==========
*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    min-width: map-get($modal, min-width);
    max-width: map-get($modal, max-width);
    height: auto;
    z-index: 2000;
    visibility: hidden;
    transform: translate(-50%, -50%);

    &.modal-show {
        visibility: visible;
    }

    .lt-ie9 & {
        top: 0;
        margin-left: -(map-get($modal, max-width)/2);
    }

    &__content {
        background: map-get($modal, content-bg-color);
        position: relative;
        margin: 0 auto;
        border-radius: map-get($modal, content-border-radius);

        @include rem(padding, map-get($modal, content-padding));
    }

    &__overlay {
        background: map-get($modal, overlay-bg-color);
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        opacity: 0;
        transition-property: visibility opacity;
        transition-delay: map-get($modal, transition-duration) 0.1s;
        transition-duration: 0 map-get($modal, transition-duration);

        .modal-show & {
            visibility: visible;
            opacity: map-get($modal, overlay-opacity);
            transition: opacity map-get($modal, transition-duration);
        }
    }
}