/*=============================
=            Group            =
=============================*/

.btn-group {
    @extend .clearfix;

    @include rem(margin, 0 0 30px 0);

    > li {
        a,
        span {
            border-radius: 0;
        }
    }
}


/*==========  Inline  ==========*/

.btn-group--inline {
    @extend .list-inline;

    > li {
        margin-right: 0;
        margin-left: -1px;
        float: left;

        // @include breakpoint(alpha) {
        //     float: none;
        //     margin-left: 0;

        //     a,
        //     span {
        //         margin: -1px 0 0 0;
        //         display: block;
        //     }
        // }

        &:first-child {
            margin: 0;

            a,
            span {
                border-radius: $btn-border-radius 0 0 $btn-border-radius;
            }
        }

        &:last-child {
            a,
            span {
                border-radius: 0 $btn-border-radius $btn-border-radius 0;
            }
        }
    }
}

/*==========  Block  ==========*/

.btn-group--block {
    @extend .list-unstyled;

    > li {
        margin-top: -1px;

        a,
        span {
            display: block;
        }

        &:first-child {
            margin: 0;

            a,
            span {
                border-radius: $btn-border-radius $btn-border-radius 0 0;
            }
        }

        &:last-child {
            a,
            span {
                border-radius: 0 0 $btn-border-radius $btn-border-radius;
            }
        }
    }
}