/*==============================
=            Styles            =
==============================*/

@mixin btn-style($bg-color) {
    background-color: $bg-color;
    border-color: darken($bg-color, 5%);

    &:not(.btn--divider):hover   { background-color: darken($bg-color, 5%);  }
    &:not(.btn--divider):active  { background-color: $bg-color;              }
    &:focus                      { box-shadow: 0 0 10px rgba($bg-color, 1);  }
    &:disabled, &:disabled:hover { background-color: $bg-color;              }
}

.btn {
    display: inline-block;
    color: map-get($color, text);
    border-radius: map-get($btn, border-radius);
    border: 0;
    outline: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    transition: all map-get($base, transition-speed);
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;

    @include btn-style(map-get($btn, bg-color-alpha));
    @include rem(line-height, 16px);

    @if map-get($btn, gradient) {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    }

    &:not(.btn--divider):hover {
        color: map-get($color, text);
    }

    &:focus {
        outline: none;
        transition-duration: 0.05s;
    }

    &:disabled,
    &:disabled:hover {
        cursor: not-allowed;
        color: darken(map-get($color, white), 20%);
        opacity: 0.5;

        &:focus {
            box-shadow: none;
        }
    }
}

.btn--beta,
.btn--gamma,
.btn--delta,
.btn--epsilon {
    color: map-get($color, white);
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);

    &:not(.btn--divider):hover,
    &:hover {
        color: map-get($color, white);
    }

    &:disabled,
    &:disabled:hover {
        color: darken(map-get($color, white), 20%);
    }
}

.btn--beta {
    @include btn-style(map-get($btn, bg-color-beta));
}

.btn--gamma {
    @include btn-style(map-get($btn, bg-color-gamma));
}

.btn--delta {
    @include btn-style(map-get($btn, bg-color-delta));
}

.btn--epsilon {
    @include btn-style(map-get($btn, bg-color-epsilon));
}

.btn--block {
    display: block;
}

.btn--divider {
    cursor: default;
}

.no-button-style {
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    text-shadow: none;
}