/*===================================================================
=            Default Susy grid (http://susy.oddbird.net)            =
===================================================================*/


/*==========  Grid class  ==========*/

.grid {
    @extend .clearfix;

    position: relative;
}

[class|=column] {
    @extend .clearfix;

    margin-bottom: gutter($total-columns);
}

.column--omega {
    float: right !important;
    margin-right: 0 !important;
    display: inline !important;

    .lt-ie9 & {
        float: left !important;
    }
}


/*==========  Columns  ==========*/

@mixin column($i) {
    @include span-columns($total-columns, $total-columns);

    @include breakpoint(beta-and-up){
        @include span-columns($i, $total-columns);
    }

    @include breakpoint(gamma-and-up){
        // Nothing to see here..
    }
}

@for $i from 1 through $total-columns {
    .column-#{$i} {
        @include column($i)
    }
}


/*==========  Form grid  ==========*/

@include with-grid-settings($total-columns, $column-width, $gutter-width-form) {
    .form__row > [class|=column] {
        margin-bottom: gutter($total-columns);
    }

    @for $i from 1 through $total-columns {
        .form .column-#{$i} {
            @include column($i)
        }
    }
};