/*==============================
=            Layout            =
==============================*/

*,
:before,
:after {
    @include box-sizing(border-box);
}

html {
    background-color: $color-body;
}

.background {
    background: $color-background;
}

body {
    font-family: arial, verdana, sans-serif;
    color: $color-text;
}

a {
    color: $color-beta;
    text-decoration: none;
    display: inline;
    cursor: pointer;

    @include single-transition(all, $base-transition-speed);

    &:hover {
        color: $color-text;
    }

    &:after,
    &:before {
        @include single-transition(all, $base-transition-speed);
    }
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

.container {
    max-width: $container-max-width;
    min-width: $container-min-width;
    padding: 0 $container-padding;
    margin: $container-margin;

    @include breakpoint(beta) {
        padding: 0 $container-beta-padding;
    }

    @include breakpoint(gamma-and-up) {
        padding: 0 $container-gamma-padding;
    }
}