/*=============================
=            Media            =
=============================*/

.media-list {
    @extend .list-unstyled;
}

.media-list--bordered {
    .media {
        border-top: 1px solid $table-border-color;
        margin-bottom: 0;

        @include rem(padding, 20px 0);

        .media {
            margin: 0;
        }
    }
}

.media {
    @extend .clearfix;

    @include rem(margin-bottom, 40px);

    .media {
        @include rem(margin-bottom, 20px);
    }
}

.media__alpha {
    @extend .column-3;

    @include rem(margin-bottom, 10px);

    @include breakpoint(beta-and-up) {
        margin-bottom: 0;
    }

    .media--right & {
        float: right;
        margin: 0;
    }
}

.media__beta {
    @extend .column-9;

    .media--left & {
        float: right;
        margin: 0;
    }

    .media--right & {
        float: left;
    }
}