/*============================
=            Tabs            =
============================*/

.tabs {
    @extend .list-inline;

    li {
        margin: 0;

        + li {
            @include rem(margin-left, 5px);
        }
    }
}

.tab {
    position: relative;
    display: inline-block;
    background: $tab-bg-color;
    border: 1px solid $tab-border-color;
    bottom: -1px;
    color: $tab-color;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    user-select: none;

    @include rem(padding, $tab-padding);

    &:focus {
        outline: none;
        color: $color-text;
        background: darken($tab-bg-color, 5%);
    }

    &.tab--active {
        background: $tab-active-bg-color;
        border-bottom-color: $tab-active-bg-color;
        color: $color-text;
    }
}

.tab-content {
    border-top: 1px solid $tab-content-border-top-color;

    @include rem(padding, $tab-content-padding);
}

.tab-item {
    overflow: hidden;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.5s;

    &.tab-item--active {
        height: auto;
        width: 100%;
        opacity: 1;
    }
}