.parsley-error {
    &.form-input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-error;
            color: #a60000;
        }
    }

    #{$input-selectors} {
        border-color: #a60000;

        @include rem(padding-right, 30px);
    }

    .form-select {
        border-color: #a60000;
    }
}

.parsley-success {
    &.form-input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-success;
            color: #6eb269;
        }
    }

    #{$input-selectors} {
        border-color: #00a608;

        @include rem(padding-right, 30px);
    }

    .form-select {
        border-color: #00a608;
    }
}

.parsley-error-list {
    @extend .list-unstyled;

    clear: both;
    max-width: 100%;
    display: inline-block;
    //font-style: italic;

    @include rem(padding, 10px);
    @include rem(font-size, 14px);
}

.parsley-error-list {
    position: relative;
    background: #eeeeee;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);

    @include rem(margin-top, 15px);
    @include rem(border-radius, 0 3px 3px 3px);

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 0;
        border: 10px solid transparent;
        border-bottom-color: #eeeeee;
    }
}