/* Navigation bar list
==========
*/

.nav-bar__list {
	@extend .list-inline;

	background: map-get($nav-bar, bg-color);
	position: relative;
	z-index: 0;
	clear: both;
	overflow-y: auto;
	transition: all map-get($base, transition-speed);
	transform: translate3d(0, -100%, 0);

	@include mq(map-get($nav-bar, mq)) {
		background: transparent;
		transform: translate3d(0, 0, 0);
		float: right;
		border-top: 0;
		overflow-y: inherit;
	}

	.nav-bar--mobile-show & {
		transform: translate3d(0, 0, 0);
	}

	li {
		display: block;
		margin: 0;

		@include mq(map-get($nav-bar, mq)) {
			display: inline-block;
			margin-right: -4px;
		}
	}
}