/*=====================================
=            Notifications            =
=====================================*/

.notification-alpha,
.notification-beta {
    border: 1px solid #d3d3cc;
    border-radius: $base-border-radius;
    color: #262207;
    background: #f3f3e6;
    position: relative;

    @include rem(margin-bottom, 30px);
    @include single-transition(all, $base-transition-speed);
    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);

    @include breakpoint(beta-and-up) {
        @include rem(padding, 20px);
    }

    &:before {
        @extend %font-fontello;

        position: absolute;
        top: 0;
        color: #b2af69;
        content: $icon-notification-info;

        @include rem(left, 20px);
        @include rem(font-size, 60px);
    }

    &.error {
        color: #260707;
        background: #f3e6e6;
        border-color: #d3cccc;

        &:before {
            content: $icon-notification-error;
            color: #b26969;
        }
    }

    &.success {
        color: #082607;
        background: #e6f3e6;
        border-color: #ccd3cd;

        &:before {
            content: $icon-notification-success;
            color: #6eb269;
        }
    }

    &.close {
        height: 0;
        overflow: hidden;
        padding: 0;
        min-height: 0;
        margin: 0;
        border: 0;

        @include scale3d(0.5);
        @include opacity(0);
    }
}

.notification-text {
    @include rem(margin-left, 70px);

    .notification-beta & {
        @include rem(margin-left, 40px);
    }
}

.notification-alpha {
    @include rem(min-height, 42px);
    @include rem(padding, 30px);
}

.notification-beta {
    @include rem(min-height, 22px);
    @include rem(padding, 20px);

    &:before {
        @include rem(top, 2px);
        @include rem(left, 10px);
        @include rem(font-size, 40px);
    }
}

.notification-close {
    @extend %font-fontello;

    position: absolute;
    color: $black;
    padding: 0;
    background: none;
    border: none;

    @include rem(top, 20px);
    @include rem(right, 20px);

    &:before {
        content: '';

        @include opacity(0.2);
        @include single-transition(opacity, $base-transition-speed);
    }

    &:hover {
        &:before {
            @include opacity(0.5);
        }
    }

    &:focus {
        outline: none;
    }
}

.cookie-notification {
    background: #eeeeee;
    text-align: center;

    @include rem(padding, 20px 0);
    @include rem(margin-bottom, 40px);

    .btn-container-center {
        margin: 0;
    }

    .btn-group {
        @include rem(margin, 10px 0 0 0);
    }
}