/*==============================
=            Tables            =
==============================*/

.table {
    width: 100%;
    margin-bottom: $table-margin-bottom;

    td,
    th {
        padding: $table-padding;
        text-align: left;
        vertical-align: top;
    }

    td {
        border-top: 1px solid $table-border-color;
    }
}

.table__hover {
    tr:hover {
        td {
            background: $table-hover-bg-color;
        }
    }
}

.table__zebra {
    tr:nth-child(odd) td {
        background: $table-zebra-bg-color;
    }
}

.table__bordered {
    border: 1px solid $table-border-color;

    td,
    th {
        border-left: 1px solid $table-border-color;

        &:first-child {
            border-left: none;
        }
    }
}