/*============================
=            Tabs            =
============================*/

.tabs {
    @extend .list-inline;

    li {
        margin: 0;

        + li {
            @include rem(margin-left, 5px);
        }
    }
}

.tab {
    position: relative;
    display: inline-block;
    background: $btn-bg-color-alpha;
    border: 1px solid darken($btn-bg-color-alpha, 10%);
    bottom: -1px;
    color: lighten($color-text, 20%);
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;

    @include rem(padding, 10px 15px);
    @include user-select(none);

    &:focus {
        outline: none;
        color: #000000;
        background: darken(#eeeeee, 5%);
    }

    &.active {
        background: #ffffff;
        border-bottom-color: #ffffff;
        color: $color-text;
    }
}

.tab-content {
    border-top: 1px solid darken($btn-bg-color-alpha, 10%);

    @include rem(padding, 20px);
}

.tab-item {
    overflow: hidden;
    height: 0;
    width: 0;

    @include opacity(0);
    @include single-transition(opacity, 0.5s);

    &.active {
        height: auto;
        width: 100%;

        @include opacity(1);
    }
}