/* Form password field
==========
*/

.form__password-toggle {
    position: absolute;
    text-decoration: none;

    @include rem(top, 8px);
    @include rem(right, 10px);

    &:after {
        @extend %font-icons;

        display: inline-block;
        content: map-get($icon, form-password-toggle);

        @include rem(font-size, 18px);

        .form__input--show-password & {
            content: map-get($icon, form-password-toggle-show);
        }
    }

    .form__input--error &,
    .form__input--success & {
        display: none;
    }
}