/* Form radio button
==========
*/

input[type=radio] {
    @extend %form-checkbox-radio;

    + label {
        &:before {
            border-radius: map-get($form, checkbox-radio-size);
        }

        &:after {
            background: map-get($color, beta);
            content: '';
            top: (map-get($form, checkbox-radio-size)/4)-1;
            left: map-get($form, checkbox-radio-size)/4;
            width: map-get($form, checkbox-radio-size)/2;
            height: map-get($form, checkbox-radio-size)/2;
            border-radius: map-get($form, checkbox-radio-size)/2;
        }
    }
}