/* Lists
==========
*/

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-inline {
    @extend .list-unstyled;

    li {
        display: inline;

        @include rem(margin-right, 10px);
    }
}