/*==============================
=            Styles            =
==============================*/

.btn {
    display: inline-block;
    color: $color-text;
    border-radius: $btn-border-radius;
    background-color: $btn-bg-color-alpha;
    border: 0;
    outline: 0;
    text-align: center;
    border: 1px solid darken($btn-bg-color-alpha, 10%);

    @include rem(line-height, 16px);
    @include single-transition(all, $base-transition-speed);
    @include appearance(none);
    @include user-select(none);

    @if $btn-gradient {
        @include background-image(linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)));
    }

    &:not(.btn-divider):hover {
        color: $color-text;
        background-color: darken($btn-bg-color-alpha, 5%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(darken($btn-bg-color-alpha, 15%), 1);

        @include transition-duration(0.05s);
    }

    &:disabled,
    &:disabled:hover {
        background-color: $btn-bg-color-alpha;
        cursor: not-allowed;
        color: darken($white, 20%);

        @include opacity(0.5);

        &:focus {
            box-shadow: none;
        }
    }
}

.btn__alpha {}

.btn__beta,
.btn__gamma,
.btn__delta,
.btn__epsilon {
    color: $white;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);

    &:not(.btn-divider):hover,
    &:hover {
        color: $white;
    }

    &:disabled,
    &:disabled:hover {
        color: darken($white, 20%);
    }
}

.btn__beta {
    background-color: $btn-bg-color-beta;
    border: 1px solid darken($btn-bg-color-beta, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-bg-color-beta, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-bg-color-beta, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-bg-color-beta;              }
}

.btn__gamma {
    background-color: $btn-bg-color-gamma;
    border: 1px solid darken($btn-bg-color-gamma, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-bg-color-gamma, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-bg-color-gamma, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-bg-color-gamma;              }
}

.btn__delta {
    background-color: $btn-bg-color-delta;
    border: 1px solid darken($btn-bg-color-delta, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-bg-color-delta, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-bg-color-delta, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-bg-color-delta;              }
}

.btn__epsilon {
    background-color: $btn-bg-color-epsilon;
    border: 1px solid darken($btn-bg-color-epsilon, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-bg-color-epsilon, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-bg-color-epsilon, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-bg-color-epsilon;              }
}

.btn__divider {
    cursor: default;
}