/* Off canvas
==========
*/

.off-canvas-body {
    @include mq(epsilon-and-up) {
        padding-left: rem(map-get($off-canvas, width));
    }
}

.off-canvas-toggle-left,
.off-canvas-toggle-right {
    @extend %font-icons;

    background: map-get($off-canvas, toggle-bg-color);
    position: absolute;
    top: 0;
    z-index: 999;
    color: map-get($off-canvas, toggle-color);
    text-align: center;
    border: none;
    font-size: rem(map-get($off-canvas, toggle-font-size));
    width: rem(map-get($off-canvas, toggle-width));
    height: rem(map-get($off-canvas, toggle-height));

    @include mq(epsilon-and-up) {
        display: none;
    }

    &:hover {
        background: lighten(map-get($off-canvas, toggle-bg-color), map-get($off-canvas, toggle-hover-darken));
        color: white;
        text-decoration: none;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.off-canvas-toggle-left {
    right: rem(-(map-get($off-canvas, toggle-width)));

    &:before {
        content: map-get($icon, off-canvas-toggle-left);

        .off-canvas-show-left & {
            content: map-get($icon, off-canvas-toggle-close);
        }
    }
}

.off-canvas-toggle-right {
    left: rem(-(map-get($off-canvas, toggle-width)));

    &:before {
        content: map-get($icon, off-canvas-toggle-right);

        .off-canvas-show-right & {
            content: map-get($icon, off-canvas-toggle-close);
        }
    }
}

.off-canvas {
    background: map-get($off-canvas, bg-color);
    position: fixed;
    z-index: 999;
    top: 0;
    width: rem(map-get($off-canvas, width));
    height: 100%;
    padding-top: rem(10px);
    padding-bottom: rem(10px);

    &--left {
        left: 0;
        transform: translate3d(-#{map-get($off-canvas, width)}, 0, 0);
        transition: transform map-get($base, transition-speed);

        @include mq(epsilon-and-up) {
            transform: translateX(0);
        }

        .off-canvas-show-left & {
            transform: translate3d(0, 0, 0);
        }

        .no-csstransforms3d & {
            left: -#{map-get($off-canvas, width)};
        }

        .no-csstransforms3d.off-canvas-show-left & {
            left: 0;
        }
    }

    &--right {
        right: 0;
        transform: translate3d(map-get($off-canvas, width), 0, 0);
        transition: transform map-get($base, transition-speed);

        .off-canvas-show-right & {
            transform: translate3d(0, 0, 0);
        }

        .no-csstransforms3d & {
            right: -#{map-get($off-canvas, width)};
        }

        .no-csstransforms3d.off-canvas-show-left & {
            right: 0;
        }
    }

    a {
        color: white;

        &:hover {
            color: tint(map-get($off-canvas, bg-color), 70%);
        }
    }
}

.off-canvas-push {
    transition: transform map-get($base, transition-speed);

    .off-canvas-show-left & {
        transform: translateX(map-get($off-canvas, width));
    }

    // &:after {
    //     content: '';
    //     background: black;
    //     width: 100%;
    //     height: 100%;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     z-index: 999;
    //     visibility: hidden;
    //     opacity: 0;
    //     transition: transform map-get($base, transition-speed);

    //     .off-canvas-show-left &,
    //     .off-canvas-show-right & {
    //         visibility: visible;
    //         opacity: map-get($off-canvas, overlay-opacity);
    //     }

    //     .lt-ie10 & {
    //         display: none;
    //     }
    // }
}

.off-canvas-nav {
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
}

.off-canvas-nav__item {
    border-top: rem(1px) solid map-get($off-canvas, item-border-top-color);
    border-bottom: rem(1px) solid map-get($off-canvas, item-border-bottom-color);

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.off-canvas-nav__header {
    color: white;
    padding: rem(20px) rem(20px) rem(10px) rem(20px);
    font-size: rem(18px);
    text-transform: uppercase;
    font-weight: 600;
}

.off-canvas-nav__link {
    display: block;
    color: map-get($off-canvas, link-color);
    padding: rem(map-get($off-canvas, link-padding-vertical)) rem(map-get($off-canvas, link-padding-horizontal));

    &--active,
    &.active,
    &.scrollspy-nav--active {
        background: tint(map-get($off-canvas, bg-color), 10%);
        font-weight: 400;
    }
}

/*doc
---
title: Off canvas
name: off_canvas
category: Navigation
---

This demo site has an off canvas for its menu.

*/