/*===============================
=            Buttons            =
===============================*/

.btn-holder {
    text-align: center;
    margin-top: pxtoem(40);
}

.btn {
    display: inline-block;
    color: $white;
    border-radius: $btn-border-radius;
    background-color: $btn-default-bg-color;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
    cursor: pointer;
    line-height: pxtoem(16);
    text-align: center;

    @extend .no-webkit-flicker;
    @include single-transition(all, 0.2s);
    @include appearance(none);
    @include user-select(none);

    @if $btn-gradient {
        @include background-image(linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)));
    }

    &:hover {
        color: $white;
        background-color: lighten($btn-default-bg-color, 5%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba($btn-default-bg-color, 1);
        @include transition-duration(0.05s);
    }

    &:disabled {
        background-color: $btn-default-bg-color;
        cursor: not-allowed;
        color: darken($white, 20%);
        @include opacity(0.5);

        &:focus {
            box-shadow: none;
        }
    }
}

.btn-primary {
    background-color: $btn-primary-bg-color;

    &:hover {
        background-color: lighten($btn-primary-bg-color, 5%);
    }

    &:focus {
        box-shadow: 0 0 10px rgba($btn-primary-bg-color, 1);
    }

    &:disabled {
        background-color: $btn-primary-bg-color;
    }
}

.btn-secondary {
    background-color: $btn-secondary-bg-color;

    &:hover {
        background-color: lighten($btn-secondary-bg-color, 5%);
    }

    &:focus {
        box-shadow: 0 0 10px rgba($btn-secondary-bg-color, 1);
    }

    &:disabled {
        background-color: $btn-secondary-bg-color;
    }
}

.btn-tertiary {
    background-color: $btn-tertiary-bg-color;

    &:hover {
        background-color: lighten($btn-tertiary-bg-color, 5%);
    }

    &:focus {
        box-shadow: 0 0 10px rgba($btn-tertiary-bg-color, 1);
    }

    &:disabled {
        background-color: $btn-tertiary-bg-color;
    }
}

.btn-quadiary {
    background-color: $btn-quadiary-bg-color;

    &:hover {
        background-color: lighten($btn-quadiary-bg-color, 5%);
    }

    &:focus {
        box-shadow: 0 0 10px rgba($btn-quadiary-bg-color, 1);
    }

    &:disabled {
        background-color: $btn-quadiary-bg-color;
    }
}

.btn-small {
    padding: pxtoem(8) pxtoem(30);
}

.btn-medium {
    padding: pxtoem(12) pxtoem(35);

    @include breakpoint(medium-and-up) {
        padding: pxtoem(14) pxtoem(35);
        font-size: pxtoem(17);
    }
}

.btn-large {
    padding: pxtoem(15) pxtoem(40);

    @include breakpoint(medium-and-up) {
        padding: pxtoem(18) pxtoem(50);
        font-size: pxtoem(18);
    }
}

.btn-block {
    display: block;
}