/*============================
=            Form            =
============================*/

form {
    margin: 0 0 pxtoem(40) 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: pxtoem(20);
  font-size: pxtoem(20);
  line-height: 2em;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

$input-selectors: '
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea
';

#{$input-selectors}{
    color: #333333;
    padding: pxtoem(10);
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    outline: 0;
    width: 100%;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);

    @include single-transition(all, 0.2s);
    @include appearance(none);

    &:focus {
        border: 1px solid #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        background-color: #f1f1f1;
        cursor: not-allowed;
    }
}

textarea {
    height: pxtoem(160);
}

select {
    display: block;
    width: 100%;
    height: 40px;
    padding: pxtoem(10);
    border-radius: 3px;
    outline: none;
    color: #888888;
    border: 1px solid #cbcbcb;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);

    // This is so hacky.. (for Firefox)
    text-overflow: '';
    text-indent: 0.01px;
    // End of brutal hack

    @include appearance(none);

    &:focus {
        border-color: #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    option[disabled] {
        color: $placeholder-color;
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
    display: none;
}

input[type=radio][disabled],
input[type=checkbox][disabled] {
    &:hover {
        cursor: not-allowed;
    }
}

.form-label {
    margin-bottom: 0;

    label {
        line-height: pxtoem(40);
    }

    @include breakpoint(medium-and-up) {
        text-align: right;
    }
}

.form-input,
.form-select {
    position: relative;
    margin-bottom: 0;
}

.form-input {
    &:after {
        position: absolute;
        right: pxtoem(10);
        top: pxtoem(10);
    }
}

.form-select {
    &:after {
        content: '';
        position: absolute;
        top: pxtoem(17);
        right: pxtoem(10);
        border: 5px solid transparent;
        border-top-color: #333333;
        z-index: 1;

        .lt-ie10 & {
            display: none;
        }
    }
}

.form-input-list {
    @include breakpoint(medium-and-up) {
        margin-top: pxtoem(8);
    }

    li {
        + li {
            margin-top: pxtoem(5);
        }
    }
}

.form-actions {
    margin-top: pxtoem(20);

    @include breakpoint(medium-and-up) {
        @include pre(5);
    }
}

.form-required-field {
    font-size: pxtoem(14);
}


/*==========  Checkbox & radios  ==========*/

.form-checkbox,
.form-radio {
    position: relative;
    cursor: pointer;
    padding-left: pxtoem(28);

    input {
        position: absolute;
        outline: none;
        @include opacity(0);
    }

    &.form-input-disabled {
        cursor: not-allowed;

        &:before {
            @include opacity(0.5);
        }
    }

    &:before {
        position: absolute;
        left: 0;
        top: -1px;
        content: '';
        background: #f1f1f1;
        width: pxtoem(20);
        height: pxtoem(20);
        display: block;
        border-radius: pxtoem(3);
        border: 1px solid #cbcbcb;
    }

    &:after {
        content: $icon-form-checkbox;
        position: absolute;
        top: -1px;
        left: 0;
        width: pxtoem(20);
        height: pxtoem(20);
        line-height: 20px;
        text-align: center;
        color: $primary-color;

        @include opacity(0);
        @include single-transition(all, 0.2s);

        .lt-ie9 & {
            visibility: hidden;
        }
    }

    &.form-input-focused {
        &:before {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &.form-input-checked {
        &:after {
            @include opacity(1);

            .lt-ie9 & {
                visibility: visible;
            }
        }
    }
}

/*==========  Radios  ==========*/

.form-radio {
    &:before {
        border-radius: pxtoem(20);
    }

    &:after {
        background: $primary-color;
        content: '';
        top: 4px;
        left: 5px;
        width: pxtoem(10);
        height: pxtoem(10);
        border-radius: pxtoem(10);
    }
}




/*==========  Placeholder  ==========*/

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder {
   color: $placeholder-color;
}

::-moz-placeholder {
   color: $placeholder-color;
}

:-ms-input-placeholder {
   color: $placeholder-color;
}

.placeholder {
   color: $placeholder-color;
}



/*==========  Validation  ==========*/

.parsley-error {
    &.form-input {
        &:after {
            content: $icon-form-validation-error;
            color: #a60000;
            @extend %font-fontello;
        }
    }

    #{$input-selectors},
    select {
        padding-right: pxtoem(30);
        border-color: #a60000;
    }
}

.parsley-success {
    &.form-input {
        &:after {
            content: $icon-form-validation-success;
            color: #6eb269;
            @extend %font-fontello;
        }
    }

    #{$input-selectors},
    select {
        padding-right: pxtoem(30);
        border-color: #00a608;
    }
}

.parsley-error-list {
    @extend .list-unstyled;

    clear: both;
    padding: pxtoem(10);
    font-size: pxtoem(14);
    font-style: italic;
}

.parsley-error-list {
    position: relative;
    background: #eeeeee;
    border-radius: 3px;
    margin-top: pxtoem(15);
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: pxtoem(20);
        border: 10px solid transparent;
        border-bottom-color: #eeeeee;
    }
}