/*============================
=            Form            =
============================*/

form {
    margin: 0 0 pxtoem(40) 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: pxtoem(20);
  font-size: pxtoem(20);
  line-height: 2em;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

$input-selectors: '
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea
';

#{$input-selectors}{
    color: #333333;
    padding: pxtoem(10);
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    outline: 0;
    width: 100%;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);

    @include single-transition(all, 0.2s);
    @include appearance(none);

    &:focus {
        border: 1px solid #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        background-color: #f1f1f1;
        cursor: not-allowed;
    }
}

textarea {
    height: pxtoem(160);
}

select {
    display: block;
    width: 100%;
    height: 40px;
    padding: pxtoem(10);
    border-color: #f2f2f2;
    outline: none;
    color: #333333;

    &:focus {
        border-color: #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
}

input[type=radio][disabled],
input[type=checkbox][disabled] {
    &:hover {
        cursor: not-allowed;
    }
}

.form-label {
    margin-bottom: 0;

    label {
        line-height: pxtoem(40);
    }

    @include breakpoint(medium-and-up) {
        text-align: right;
    }
}

.form-input {
    position: relative;
    margin-bottom: 0;

    &:after {
        position: absolute;
        right: pxtoem(10);
        top: pxtoem(10);
    }
}

.form-input-list {
    @include breakpoint(medium-and-up) {
        margin-top: pxtoem(8);
    }

    li {
        + li {
            margin-top: pxtoem(5);
        }
    }
}

.form-actions {
    margin-top: pxtoem(20);

    @include breakpoint(medium-and-up) {
        @include pre(5);
    }
}

.form-required-field {
    font-size: pxtoem(14);
}



/*==========  Placeholder  ==========*/

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder {
   color: $placeholder-color;
}

::-moz-placeholder {
   color: $placeholder-color;
}

:-ms-input-placeholder {
   color: $placeholder-color;
}

.placeholder {
   color: $placeholder-color;
}



/*==========  Validation  ==========*/

.parsley-error {
    &:after {
        content: $icon-form-validation-error;
        color: #a60000;
        @extend %font-fontello;
    }

    #{$input-selectors}{
        padding-right: pxtoem(30);
        border-color: #a60000;
    }
}

.parsley-success {
    &:after {
        content: $icon-form-validation-success;
        color: #6eb269;
        @extend %font-fontello;
    }

    #{$input-selectors}{
        padding-right: pxtoem(30);
        border-color: #00a608;
    }
}

.parsley-error-list {
    @extend .list-unstyled;

    clear: both;
    padding: pxtoem(10);
    font-size: pxtoem(14);
    font-style: italic;
}

.parsley-error-list {
    position: relative;
    background: #eeeeee;
    border-radius: 3px;
    margin-top: pxtoem(15);
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: pxtoem(20);
        border: 10px solid transparent;
        border-bottom-color: #eeeeee;
    }
}