/*==============================
=            Layout            =
==============================*/

*,
:before,
:after {
    @include box-sizing(border-box);
}


body {
    font-family: arial, verdana, sans-serif;
    color: $text-color;
}

a {
    color: $primary-color;
    text-decoration: none;
    display: inline;
    cursor: pointer;

    @include single-transition(all, $base-transition-speed);

    &:hover {
        color: $text-color;
    }

    &:after,
    &:before {
        @include single-transition(all, $base-transition-speed);
    }
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

.container {
    max-width: $container-max-width;
    min-width: $container-min-width;
    padding: 0 $container-padding;
    margin: $container-margin;

    @include breakpoint(medium) {
        padding: 0 $container-medium-padding;
    }

    @include breakpoint(large-and-up) {
        padding: 0 $container-large-and-up-padding;
    }
}