/*==================================
=            Pagination            =
==================================*/

.pagination {
    @extend .clearfix;

    margin-bottom: $pagination-margin-bottom;

    &.pagination-center {
        text-align: center;

        ul {
            display: inline-block;
        }
    }

    &.pagination-right {
        text-align: right;

        ul {
            float: right;
        }
    }

    a {
        padding: $pagination-padding;
    }
}