/*==================================
=            Pagination            =
==================================*/

.pagination {
    text-align: $pagination-align;
    a {
        display: inline-block;
        color: $pagination-font-color;
        padding: $pagination-padding;
        border-radius: $pagination-border-radius;
        margin-bottom: $pagination-margin-bottom;
        background-color: $pagination-bg-color;
        @include single-transition(all, $pagination-transition-speed);

        @if $btn-gradient {
            @include background-image(linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)));
        }

        &:hover {
            background-color: lighten($primary-color, 5%);
        }
    }
}