/*================================
=            Tooltips            =
================================*/

.tooltip {
    display: inline-block;
    position: relative;
    cursor: help;

    &[data-tooltip-trigger=click] {
        cursor: pointer;
    }

    .tooltip-content,
    &:after {
        visibility: hidden;
        position: absolute;
        z-index: 100;

        @include opacity(0);
        @include single-transition(all, $tooltip-transition-speed);
    }

    &.tooltip-active {
        .tooltip-content,
        &:after {
            visibility: visible;

            @include opacity(1);
        }
    }

    &:after {
        content: '';
        border: $tooltip-arrow-width solid transparent;
    }

    .tooltip-content {
        text-align: center;
        background: $tooltip-bg-color;
        color: $tooltip-font-color;
        width: $tooltip-width;
        padding: $tooltip-padding;
        border-radius: $tooltip-border-radius;
        font-size: $tooltip-font-size;
    }
}

[data-tooltip-position=top],
[data-tooltip-position=bottom] {
    &:after {
        left: 50%;
        margin-left: -$tooltip-arrow-width;
    }

    .tooltip-content {
        left: 50%;
        margin-left: -$tooltip-width/2;
    }
}

[data-tooltip-position=top] {
    &:after {
        top: -($tooltip-arrow-width*2);
        border-top-color: $tooltip-bg-color;
    }
}

[data-tooltip-position=bottom] {
    &:after {
        bottom: -($tooltip-arrow-width*2);
        border-bottom-color: $tooltip-bg-color;
    }
}

[data-tooltip-position=left],
[data-tooltip-position=right] {
    &:after {
        top: 50%;
        margin-top: -$tooltip-arrow-width;
    }

    .tooltip-content {
        top: 50%;
    }
}

[data-tooltip-position=right] {
    &:after {
        right: -($tooltip-arrow-width*2);
        border-right-color: $tooltip-bg-color;
    }

    .tooltip-content {
        right: -($tooltip-width+$tooltip-arrow-width*2);
    }
}

[data-tooltip-position=left] {
    &:after {
        left: -($tooltip-arrow-width*2);
        border-left-color: $tooltip-bg-color;
    }

    .tooltip-content {
        left: -($tooltip-width+$tooltip-arrow-width*2);
    }
}

