/* Form password field
==========
*/

.form__password-toggle {
    position: absolute;
    text-decoration: none;

    @include rem(top, 8px);
    @include rem(right, 10px);

    &:after {
        @extend %font-icons;

        display: inline-block;
        content: map-get($icon, form-password-toggle);

        @include rem(font-size, 18px);

        .form__input--show-password & {
            content: map-get($icon, form-password-toggle-show);
        }
    }

    .form__input--error &,
    .form__input--success & {
        display: none;
    }
}

/*doc
---
title: Password toggle
name: password_toggle
category: Forms
---

```html_example
<div class="form__row">
    <div class="column-5 form__label">
        <label>Password toggle *</label>
    </div>
    <div class="column-7">
        <div class="column-6 form__input">
            <input type="password" placeholder="password" />
            <a class="form__password-toggle tooltip" data-tooltip-position="top" title="Show/hide password"></a>
        </div>
    </div>
</div>
```

*/