/* Range input
==========
*/

@mixin range-track() {
    background: map-get($form, checkbox-radio-bg-color);
    height: map-get($form, switch-height);
    border-radius: map-get($base, border-radius);
    border: map-get($form, input-border);
    transition: all map-get($base, transition-speed)*2;
}

@mixin range-thumb() {
    background: map-get($color, white);
    content: '';
    width: map-get($form, switch-width);
    height: map-get($form, switch-height);
    border-radius: map-get($base, border-radius);
    border: map-get($form, input-border);
    opacity: 1;

    &:focus {
        background: red;
    }
}

input[type=range] {
    -webkit-appearance: none;

    @include rem(margin-top, 7px);
    @include rem(width, 300px);

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track { @include range-track(); }
    &::-moz-range-track { @include range-track(); }

    &::-ms-track {
        @include range-track();

        color: transparent;
    }

    &::-webkit-slider-thumb {
        @include range-thumb();

        -webkit-appearance: none;
        margin-top: -1px;
    }

    &::-moz-range-thumb {
        @include range-thumb();
    }

    &::-ms-thumb {
        @include range-thumb();
    }

    &::-ms-fill-lower {
        background: map-get($color, beta);
    }
}

.range-output {
    display: inline-block;
    color: map-get($color, beta);

    @include rem(margin-top, 8px);
}

.rangeslider,
.rangeslider__fill {
    @include range-track();
}

.rangeslider {
    position: relative;

    @include rem(margin-top, 7px);
    @include rem(width, 300px);
}

.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    background: map-get($color, beta);
    height: map-get($form, switch-height)-2;
    position: absolute;
    top: 0;
    border: 0;
    transition: none;
}

.rangeslider__handle {
  @include range-thumb();

    position: absolute;
    display: inline-block;
    top: -1px;
    margin-left: -1px;
}

/*doc
---
title: Range
name: range
category: Forms
---

```html_example
<div class="form__row">
    <div class="column-5 form__label">
        <label>Range</label>
    </div>
    <div class="column-7">
        <div class="column-10 form__input">
            <div class="column-2 text-align-center">
                <output data-range="range-test" class="range-output">50s</output>
            </div>
            <div class="column-10">
                <input type="range" min="0" max="100" step="1" value="50" id="range-test" data-range-measurement="s" />
            </div>
        </div>
    </div>
</div>
```

*/