%form-checkbox-radio {
    position: absolute;
    outline: none;
    opacity: 0;

    &[disabled] {
        cursor: not-allowed;

        + label {
            cursor: not-allowed;

            &:before {
                opacity: 0.4;
            }
        }
    }

    &:focus {
        + label:before {
            background: map-get($form, checkbox-radio-focus-bg-color);
            border-color: map-get($form, checkbox-radio-focus-border-color);
            box-shadow: map-get($form, checkbox-radio-focus-box-shadow);
        }
    }

    &:checked {
        + label:after {
            opacity: 1;
        }
    }

    .no-borderradius & {
        background: transparent;
        position: relative;
        opacity: 1;
    }

    + label {
        position: relative;
        cursor: pointer;
        padding-left: map-get($form, checkbox-radio-size)+10;
        user-select: none;

        .no-borderradius & {
            padding: 0 0 0 5px;
        }

        &:before {
            position: absolute;
            left: 0;
            top: -1px;
            content: '';
            background: map-get($form, checkbox-radio-bg-color);
            width: map-get($form, checkbox-radio-size);
            height: map-get($form, checkbox-radio-size);
            display: block;
            border-radius: map-get($base, border-radius);
            border: map-get($form, input-border);
            transition: all map-get($base, transition-speed)*2;

            .no-borderradius & {
                display: none;
            }
        }

        &:after {
            @extend %font-icons;

            content: map-get($icon, form-checkbox);
            position: absolute;
            top: -1px;
            left: 0;
            width: map-get($form, checkbox-radio-size);
            height: map-get($form, checkbox-radio-size);
            line-height: map-get($form, checkbox-radio-size);
            text-align: center;
            color: map-get($color, beta);
            opacity: 0;
            transition: all map-get($base, transition-speed);

            .no-borderradius & {
                display: none;
            }
        }
    }
}

input[type=checkbox] {
    @extend %form-checkbox-radio;
}