.form__row {
    @extend .clearfix;
}

.form__label {
    margin-bottom: 0;

    label {
        @include rem(line-height, 40px);
    }

    @include breakpoint(beta-and-up) {
        text-align: right;
    }
}

.form__input,
.form__select,
.form__switch {
    position: relative;
    margin-bottom: 0;
}

.form__select {
    user-select: none;
    background: map-get($color, white);
    border: 1px solid #e0e0e0;
    border-radius: map-get($base, border-radius);

    &:after {
        @extend %font-icons;

        content: map-get($icon, form-select);
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1;
        color: #bbbbbb;
        line-height: 42px; // IE10 REM bug

        @include rem(font-size, 14px);
        @include rem(height, 42px);

        .lt-ie10 &,
        .parsley-error &,
        .parsley-success & {
            display: none;
        }
    }
}

.form__switch {
    input[type=checkbox] {
        &:checked {
            + label {
                &:before {
                    background: map-get($color, beta);
                }

                &:after {
                    left: 30px;
                }
            }
        }

        + label {
            padding: 0;
            color: rgba(0, 0, 0, 0);

            &:before {
                border-radius: 20px;
                width: 46px;
            }

            &:after {
                background: map-get($color, white);
                content: '';
                top: -1px;
                left: -1px;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                border: 1px solid #e0e0e0;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
                opacity: 1;
            }
        }
    }
}

.form__input-list {
    @include breakpoint(beta-and-up) {
        @include rem(margin-top, 8px);
    }

    li {
        + li {
            @include rem(margin-top, 5px);
        }
    }
}

.form__data {
    @include rem(line-height, 40px);
}

.form__actions {
    @include rem(margin-top, 20px);

    @include breakpoint(beta-and-up) {
        @include pre(5);
    }
}

.form__required-field {
    @include rem(font-size, 14px);
}