/* Form general classes
==========
*/

.form__row {
    @extend .clearfix;

    .form--vertical & {
        margin-bottom: gutter(map-get($susy, columns));
    }
}

.form__label {
    margin-bottom: 0;

    label {
        @include rem(line-height, map-get($form, label-line-height));
    }

    @include mq(beta-and-up) {
        text-align: map-get($form, label-text-align);
    }

    .form--vertical & {
        text-align: left;
    }
}

.form__input,
.form__select,
.form__switch {
    position: relative;
    margin-bottom: 0;
}

.form__select {
    user-select: none;
    background: map-get($color, white);
    border: map-get($form, input-border);
    border-radius: map-get($base, border-radius);

    &:after {
        @extend %font-icons;

        content: map-get($icon, form-select);
        position: absolute;
        top: map-get($form, select-icon-top);
        right: map-get($form, select-icon-right);
        z-index: 1;
        color: map-get($form, select-icon-color);
        line-height: map-get($form, select-icon-height); // IE10 REM bug

        @include rem(font-size, map-get($form, select-icon-font-size));
        @include rem(height, map-get($form, select-icon-height));

        .lt-ie10 &,
        .parsley-error &,
        .parsley-success & {
            display: none;
        }
    }
}

.form__switch {
    @include rem(margin-top, 5px);

    input[type=checkbox] {
        &:checked {
            + label {
                &:before {
                    background: map-get($color, beta);
                    border-color: map-get($color, beta);
                }

                &:after {
                    left: map-get($form, switch-width);
                }
            }
        }

        + label {
            padding: 0;
            color: rgba(0, 0, 0, 0);

            &:before {
                width: map-get($form, switch-width)*2;
                height: map-get($form, switch-height);
                border-radius: map-get($base, border-radius);
            }

            &:after {
                background: map-get($color, white);
                content: '';
                top: -1px;
                left: -1px;
                width: map-get($form, switch-width);
                height: map-get($form, switch-height);
                border-radius: map-get($base, border-radius);
                border: map-get($form, input-border);
                opacity: 1;
            }
        }
    }
}

.form__input-list {
    @include mq(beta-and-up) {
        @include rem(margin-top, map-get($form, input-list-margin-top));
    }

    li {
        + li {
            @include rem(margin-top, map-get($form, input-list-item-margin-top));
        }
    }
}

.form__data {
    @include rem(line-height, map-get($form, label-line-height));
}

.form__actions {
    @include rem(margin-top, map-get($form, actions-margin-top));

    @include mq(beta-and-up) {
        @include pre(map-get($form, actions-pre));
    }

    .form--vertical & {
        margin-left: 0;
    }
}

.form__required-field {
    @include rem(font-size, map-get($form, required-field-font-size));
}