.form__password-toggle {
    position: absolute;
    top: 0;
    height: 100%;
    text-decoration: none;

    @include rem(right, 10px);

    &:after {
        @extend %font-icons;

        display: inline-block;
        content: '\e80e';

        @include rem(font-size, 18px);
        @include rem(line-height, 40px);

        .form__input--show-password & {
            content: '\e80f';
        }
    }

    .form__input--error &,
    .form__input--success & {
        display: none;
    }
}