::-webkit-input-placeholder {
   color: map-get($color, placeholder);
}

:-moz-placeholder {
   color: map-get($color, placeholder);
}

::-moz-placeholder {
   color: map-get($color, placeholder);
}

:-ms-input-placeholder {
   color: map-get($color, placeholder);
}

.placeholder {
   color: map-get($color, placeholder);
}