.form__input--error,
.form__input--success {
    &:after {
        position: absolute;
        right: 10px;
        top: 9px;
    }
}

.form__input--error {
    animation-duration: 0.5s;
    animation-name: shake;

    &.form__input {
        &:after {
            @extend %font-icons;

            content: map-get($icon, form-validation-error);
            color: map-get($notifications, bg-color-error);
        }
    }

    #{$input-selectors} {
        border-color: map-get($notifications, bg-color-error);
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: map-get($form, input-focus-box-shadow);
        }
    }

    &.form__input--select-validated {
        &:after {
            display: none;
        }
    }

    .form__select {
        border-color: map-get($notifications, bg-color-error);

        &:after {
            color: map-get($notifications, bg-color-error);
        }
    }

    input[type=checkbox],
    input[type=radio] {
        + label {
            &:before {
                background: lighten(map-get($notifications, bg-color-error), 45%);
                border-color: map-get($notifications, bg-color-error);
            }

            &:after {
                color: map-get($notifications, bg-color-error);
            }
        }
    }
}

.form__input--success {
    &.form__input {
        &:after {
            @extend %font-icons;

            content: map-get($icon, form-validation-success);
            color: map-get($notifications, bg-color-success);
        }
    }

    #{$input-selectors} {
        border-color: map-get($notifications, bg-color-success);
        box-shadow: none;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: map-get($form, input-focus-box-shadow);
        }
    }

    &.form__input--select-validated {
        &:after {
            display: none;
        }
    }

    .form__select {
        border-color: map-get($notifications, bg-color-success);

        &:after {
            color: map-get($notifications, bg-color-success);
        }
    }
}

.parsley-container {
    @extend .list-unstyled;

    display: none;
    clear: both;
    max-width: 100%;
    position: relative;
    background: map-get($notifications, bg-color-error);
    color: map-get($color, white);

    @include rem(border-radius, 0 0 map-get($base, border-radius) map-get($base, border-radius));
    @include rem(padding, map-get($form, input-padding));
    @include rem(font-size, map-get($form, validation-font-size));

    .form__input--error & {
        display: block;
    }
}

.form__input--error {
    + .parsley-container {
        display: inline-block;

        @include rem(border-radius, 0 map-get($base, border-radius) map-get($base, border-radius) map-get($base, border-radius));
        @include rem(margin-top, map-get($form, validation-arrow-size)*2);

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -#{map-get($form, validation-arrow-size)*2};
            left: 0;
            border: map-get($form, validation-arrow-size) solid transparent;
            border-bottom-color: map-get($notifications, bg-color-error);
        }
    }
}