.form__input--error,
.form__input--success {
    &:after {
        position: absolute;
        right: 10px;
        top: 9px;
    }
}

.form__input--error {
    &.form__input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-error;
            color: $color-delta;
        }
    }

    #{$input-selectors} {
        border-color: $color-delta;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &.form__input--select-validated {
        &:after {
            display: none;
        }
    }

    .form__select {
        border-color: $color-delta;

        &:after {
            color: $color-delta;
        }
    }

    input[type=checkbox],
    input[type=radio] {
        + label {
            &:before {
                background: lighten($color-delta, 45%);
                border-color: $color-delta;
            }

            &:after {
                color: $color-delta;
            }
        }
    }
}

.form__input--success {
    &.form__input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-success;
            color: $color-gamma;
        }
    }

    #{$input-selectors} {
        border-color: $color-gamma;
        box-shadow: none;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &.form__input--select-validated {
        &:after {
            display: none;
        }
    }

    .form__select {
        border-color: $color-gamma;

        &:after {
            color: $color-gamma;
        }
    }
}

.parsley-container {
    @extend .list-unstyled;

    display: none;
    clear: both;
    max-width: 100%;
    position: relative;
    background: $color-delta;
    color: $white;

    @include rem(border-radius, 0 0 3px 3px);
    @include rem(padding, 10px);
    @include rem(font-size, 14px);

    .form__input--error & {
        display: block;
    }
}

.form__input--error {
    + .parsley-container {
        display: inline-block;

        @include rem(border-radius, 0 3px 3px 3px);
        @include rem(margin-top, 16px);

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -16px;
            left: 0;
            border: 8px solid transparent;
            border-bottom-color: $color-delta;
        }
    }
}