/*===============================================
=            Cookie law notification            =
===============================================*/

.notification--cookie {
    position: fixed;
    left: 0;
    width: 100%;
    min-width: map-get($container, min-width);
    background: map-get($notifications, cookie-bg);
    text-align: center;
    z-index: 999;
    margin-bottom: 0;
    border: none;
    color: map-get($color, white);
    transition: all map-get($base, transition-speed)*2;

    @include rem(padding, map-get($notifications, cookie-padding));

    &.notification--close {
        .notification-cookie-show[notification-cookie-position] & {
            transform: translate3d(0, 100%, 0);
        }
    }

    &:before {
        display: none;
    }

    .notification-cookie-show[notification-cookie-position] & {
        transform: translate3d(0, 0, 0);
    }

    [notification-cookie-position=top] & {
        top: 0;
        transform: translate3d(0, -100%, 0);
    }

    [notification-cookie-position=bottom] & {
        bottom: 0;
        transform: translate3d(0, 100%, 0);
    }

    .notification__more-info {
        color: map-get($color, white);
        text-decoration: underline;
    }

    .notification__text {
        margin-left: 0;

        @include rem(margin-bottom, 10px);
    }

    .notification__close {
        color: map-get($color, white);
    }
}