/*================================================
=            Notification identifiers            =
================================================*/

.notification__text {
    @include rem(margin-left, 70px);

    .notification--beta & {
        @include rem(margin-left, 40px);
    }
}

.notification__close {
    @extend %font-icons;

    position: absolute;
    color: map-get($color, black);
    padding: 0;
    background: none;
    border: none;

    @include rem(top, 20px);
    @include rem(right, 20px);

    &:before {
        content: '';
        opacity: 0.2;
        transition: opacity map-get($base, transition-speed);
    }

    &:hover {
        &:before {
            opacity: 0.5;
        }
    }

    &:focus {
        outline: none;
    }
}