input[type=checkbox],
input[type=radio] {
    position: absolute;
    outline: none;

    @include opacity(0);

    &[disabled] {
        cursor: not-allowed;

        + label {
            cursor: not-allowed;

            &:before {
                @include opacity(0.5);
            }
        }
    }

    &:focus {
        + label:before {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &:checked {
        + label:after {
            @include opacity(1);
        }
    }

    .no-borderradius & {
        background: transparent;
        position: relative;

        @include opacity(1);
    }

    + label {
        position: relative;
        cursor: pointer;
        padding-left: 28px;

        @include user-select(none);

        .no-borderradius & {
            padding: 0 0 0 5px;
        }

        &:before {
            position: absolute;
            left: 0;
            top: -1px;
            content: '';
            background: #f1f1f1;
            width: 20px;
            height: 20px;
            display: block;
            border-radius: $base-border-radius;
            border: 1px solid #cbcbcb;

            @include single-transition(all, $base-transition-speed*2);

            .no-borderradius & {
                display: none;
            }
        }

        &:after {
            @extend %font-fontello;

            content: $icon-form-checkbox;
            position: absolute;
            top: -1px;
            left: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: $primary-color;

            @include opacity(0);
            @include single-transition(all, $base-transition-speed);

            .no-borderradius & {
                display: none;
            }
        }
    }
}

/*==========  Radios  ==========*/

input[type=radio] {
    + label {
        &:before {
            border-radius: 20px;
        }

        &:after {
            background: $primary-color;
            content: '';
            top: 4px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }
    }
}