/*============================
=            Form            =
============================*/

form {
    @include rem(margin, 0 0 40px 0);

    &.form-no-margin {
        margin: 0;
    }
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

    @include rem(margin-bottom, 20px);
    @include rem(font-size, 20px);
    @include rem(line-height, 32px);
}

$input-selectors: '
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea
';

#{$input-selectors}{
    color: #333333;
    border-radius: $base-border-radius;
    border: 1px solid #f3f3f3;
    outline: 0;
    width: 100%;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);

    @include rem(padding, 10px);
    @include appearance(none);
    @include user-select(none);
    @include single-transition(all, $base-transition-speed);

    &:focus {
        border: 1px solid #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        background-color: #f1f1f1;
        cursor: not-allowed;
    }
}

textarea {
    @include rem(height, 160px);
}

select {
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    border-radius: $base-border-radius;
    outline: none;
    color: #888888;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 5px;
    // End of brutal hack

    @include rem(padding, 10px 10px 10px 5px);
    @include single-transition(box-shadow, $base-transition-speed);
    @include appearance(none);

    &[multiple=multiple] {
        height: auto;
    }

    &:focus,
    &:hover {
        border-color: #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    option[disabled] {
        color: $placeholder-color;
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
    display: none;
}