.form-label {
    margin-bottom: 0;

    label {
        @include rem(line-height, 40px);
    }

    @include breakpoint(medium-and-up) {
        text-align: right;
    }
}

.form-input,
.form-select {
    position: relative;
    margin-bottom: 0;
}

.form-input {
    &:after {
        position: absolute;
        right: 10px;
        top: 9px;
    }
}

.form-select {
    @include user-select(none);

    &:after {
        content: $icon-form-select;
        position: absolute;
        top: 9px;
        right: 12px;
        z-index: 1;

        @extend %font-fontello;
        @include rem(font-size, 16px);

        .lt-ie10 & {
            display: none;
        }
    }
}

.form-input-list {
    @include breakpoint(medium-and-up) {
        @include rem(margin-top, 8px);
    }

    li {
        + li {
            @include rem(margin-top, 5px);
        }
    }
}

.form-actions {
    @include rem(margin-top, 20px);

    @include breakpoint(medium-and-up) {
        @include pre(5);
    }
}

.form-required-field {
    @include rem(font-size, 14px);
}