.form-label {
    margin-bottom: 0;

    label {
        line-height: pxtoem(40);
    }

    @include breakpoint(medium-and-up) {
        text-align: right;
    }
}

.form-input,
.form-select {
    position: relative;
    margin-bottom: 0;
}

.form-input {
    &:after {
        position: absolute;
        right: pxtoem(10);
        top: pxtoem(10);
    }
}

.form-select {
    @include user-select(none);

    &:after {
        content: $icon-form-select;
        position: absolute;
        top: pxtoem(9);
        right: pxtoem(12);
        z-index: 1;
        font-size: pxtoem(16);
        @extend %font-fontello;

        .lt-ie10 & {
            display: none;
        }
    }
}

.form-input-list {
    @include breakpoint(medium-and-up) {
        margin-top: pxtoem(8);
    }

    li {
        + li {
            margin-top: pxtoem(5);
        }
    }
}

.form-actions {
    margin-top: pxtoem(20);

    @include breakpoint(medium-and-up) {
        @include pre(5);
    }
}

.form-required-field {
    font-size: pxtoem(14);
}