.parsley-error {
    &.form-input {
        &:after {
            content: $icon-form-validation-error;
            color: #a60000;
            @extend %font-fontello;
        }
    }

    #{$input-selectors},
    select {
        border-color: #a60000;

        @include rem(padding-right, 30px);
    }
}

.parsley-success {
    &.form-input {
        &:after {
            content: $icon-form-validation-success;
            color: #6eb269;
            @extend %font-fontello;
        }
    }

    #{$input-selectors},
    select {
        border-color: #00a608;

        @include rem(padding-right, 30px);
    }
}

.parsley-error-list {
    @extend .list-unstyled;

    clear: both;
    font-style: italic;

    @include rem(padding, 10px);
    @include rem(font-size, 14px);
}

.parsley-error-list {
    position: relative;
    background: #eeeeee;
    border-radius: 3px;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);

    @include rem(margin-top, 15px);

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 20px;
        border: 10px solid transparent;
        border-bottom-color: #eeeeee;
    }
}