/*==============================
=            Styles            =
==============================*/

.btn-divider {
    cursor: default;
}

.btn-divider,
.btn-alpha,
.btn-beta,
.btn-gamma,
.btn-delta,
.btn-epsilon {
    display: inline-block;
    color: $text-color;
    border-radius: $btn-border-radius;
    background-color: $btn-default-bg-color;
    border: 0;
    outline: 0;
    text-align: center;
    border: 1px solid darken($btn-default-bg-color, 10%);

    @include rem(line-height, 16px);
    @include single-transition(all, $base-transition-speed);
    @include appearance(none);
    @include user-select(none);

    @if $btn-gradient {
        @include background-image(linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)));
    }

    &:not(.btn-divider):hover {
        color: $text-color;
        background-color: darken($btn-default-bg-color, 5%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba(darken($btn-default-bg-color, 15%), 1);

        @include transition-duration(0.05s);
    }

    &:disabled,
    &:disabled:hover {
        background-color: $btn-default-bg-color;
        cursor: not-allowed;
        color: darken($white, 20%);

        @include opacity(0.5);

        &:focus {
            box-shadow: none;
        }
    }
}

.btn-beta,
.btn-gamma,
.btn-delta,
.btn-epsilon {
    color: $white;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);

    &:not(.btn-divider):hover,
    &:hover {
        color: $white;
    }

    &:disabled,
    &:disabled:hover {
        color: darken($white, 20%);
    }
}

.btn-beta {
    background-color: $btn-primary-bg-color;
    border: 1px solid darken($btn-primary-bg-color, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-primary-bg-color, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-primary-bg-color, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-primary-bg-color;              }
}

.btn-gamma {
    background-color: $btn-secondary-bg-color;
    border: 1px solid darken($btn-secondary-bg-color, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-secondary-bg-color, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-secondary-bg-color, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-secondary-bg-color;              }
}

.btn-delta {
    background-color: $btn-tertiary-bg-color;
    border: 1px solid darken($btn-tertiary-bg-color, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-tertiary-bg-color, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-tertiary-bg-color, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-tertiary-bg-color;              }
}

.btn-epsilon {
    background-color: $btn-quadiary-bg-color;
    border: 1px solid darken($btn-quadiary-bg-color, 8%);

    &:not(.btn-divider):hover    { background-color: darken($btn-quadiary-bg-color, 5%);  }
    &:focus                      { box-shadow: 0 0 10px rgba($btn-quadiary-bg-color, 1);  }
    &:disabled, &:disabled:hover { background-color: $btn-quadiary-bg-color;              }
}