/*
    Control all settings which control the SCSS modules found in core/*.scss.  
    Some properties don't have settings, if you need to change those properties you can change it in the modules themselves.
*/

/* Base
==========
*/

$base: (
    gradient         : false,
    font-size-num    : 16,
    font-size        : 16px,
    padding          : 10px,
    border-radius    : 0,
    transition-speed : 0.2s
);


/* Media queries
==========
*/

$mq: (
    alpha          : "(max-width: 37.5em)", // 600px
    alpha-and-beta : "(max-width: 43.75em)", // 700px
    beta-and-up    : "(min-width: 37.5625em)", // 601px
    beta           : "(min-width: 37.5em) and (max-width: 43.75em)", // 600px and 700px
    gamma-and-up   : "(min-width: 43.8125em)", // 701px
    gamma          : "(min-width: 43.75em) and (max-width: 50em)", // 700px and 800px
    delta-and-up   : "(min-width: 50.0625em)", // 801px
    delta          : "(min-width: 50em) and (max-width: 62.5em)", // 800px and 1000px
    epsilon-and-up : "(min-width: 62.5625em)", // 1001px
    epsilon        : "(min-width: 62.5em) and (max-width: 75em)",  // 1000px and 1200px
    zeta-and-up    : "(min-width: 75.0625em)", // 1201px
    zeta           : "(min-width: 75em) and (max-width: 87.5em)", //  1200px and 1400px
    eta-and-up     : "(min-width: 87.5625em)" // 1401px
);


/* Colors
==========
*/

$color: (
    body       : #ffffff,
    text       : #555555,
    placeholder: #94adc4,
    selection  : #d1e4fe,
    alpha      : #f7f7f7,
    beta       : #2690b0,
    gamma      : #26a8b0,
    delta      : #26b0a1,
    epsilon    : #333333
);

$color-networks: (
    twitter    : #55acee,
    facebook   : #3b5998,
    linkedin   : #0077b5,
    googleplus : #d73D32,
    youtube    : #cd201f,
    vimeo      : #1ab7ea,
    pinterest  : #cb2027,
    github     : #333333,
    dribbble   : #ea4c88,
    instagram  : #517fA4
);


/* Sections
==========
*/

$section: (
    padding-vertical        : 30px,
    paragraph-margin-bottom : 30px,
    list-margin-bottom      : 30px
);

$section-bg: (
    alpha   : white,
    beta    : map-get($color, beta),
    gamma   : map-get($color, gamma),
    delta   : map-get($color, delta),
    epsilon : map-get($color, epsilon)

    // Just add a color to make another button
    // Ex. zeta: map-get($color, zeta)
    // Ex. zeta: #123456
);


/* Container
==========
*/

$container: (
    min-width      : 320px,
    max-width      : 1280px,
    max-width-beta : 800px,
    margin-top     : 0,
    margin-bottom  : 0,
    margin-left    : auto,
    margin-right   : auto,
    padding        : 10px
);


/* Susy grid
==========
*/

$susy: (
    columns           : 12,
    gutters           : 2.5em/4em,
    global-box-sizing : border-box,

    // More settings:
    // http://susydocs.oddbird.net/en/latest
);


/* Buttons
==========
*/

$btn: (
    gradient                : map-get($base, gradient),
    gradient-bg             : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    border-width            : 1px,
    border-radius           : map-get($base, border-radius),
    padding-small           : 8px 20px,
    padding-medium          : 11px 20px,
    padding-medium-beta     : 11px 20px,
    padding-large           : 14px 25px,
    padding-large-beta      : 16px 30px,
    font-size-small         : 12px,
    font-size-medium        : 14px,
    font-size-large         : 16px,
    line-height             : 16px,
    text-shadow             : 1px 0 1px rgba(0, 0, 0, 0.2),
    border-color-darken     : 5%,
    container-margin        : 0 0 30px 0,
    container-btn-padding   : 10px 18px,
    group-margin            : 0 0 30px 0,
    group-border-radius     : map-get($base, border-radius),
    holder-margin           : 40px 0 0 0,
    ghost-border-width      : 1px,
    ghost-border-radius     : 5px,
    ghost-opacity           : 1,
    ghost-opacty-hover      : 1,
    ghost-bg-hover          : false
);

$btn-bg: (
    light   : white,
    dark    : black,
    alpha   : map-get($color, alpha),
    beta    : map-get($color, beta),
    gamma   : map-get($color, gamma),
    delta   : map-get($color, delta),
    epsilon : map-get($color, epsilon)

    // Just add a color to make another button
    // Ex. zeta: map-get($color, zeta)
    // Ex. zeta: #123456
);


/* Margin
==========
*/

$margin: (
    alpha   : 10px,
    beta    : 20px,
    gamma   : 30px,
    delta   : 40px,
    epsilon : 50px,
    zeta    : 80px,
    eta     : 100px
);


/* Padding
==========
*/

$padding: (
    alpha   : 10px,
    beta    : 20px,
    gamma   : 30px,
    delta   : 40px,
    epsilon : 50px,
    zeta    : 80px,
    eta     : 100px
);


/* Icons
==========
*/

$icon: (
    notification-info         : '\e804',
    notification-success      : '\e801',
    notification-error        : '\e803',
    notification-close        : '\e802',

    form-checkbox             : '\e801',
    form-select               : '\e80a',
    form-password-toggle      : '\e807',
    form-password-toggle-show : '\e808',

    nav-bar-trigger           : '\e809',
    nav-bar-trigger-close     : '\e802',

    off-canvas-toggle-left    : '\e809',
    off-canvas-toggle-right   : '\e809',
    off-canvas-toggle-close   : '\e802',

    spinner                   : '\e800'
);


/* Form
==========
*/

$form: (
    margin                            : 0 0 40px 0,

    legend-border-bottom              : 1px solid #e5e5e5,
    legend-margin-bottom              : 20px,
    legend-font-size                  : 20px,
    legend-line-height                : 32px,
    label-line-height                 : 40px,
    label-text-align                  : left,

    input-color                       : #333333,
    input-border                      : 1px solid #e0e0e0,
    input-box-shadow                  : 0 -1px 0 rgba(0, 0, 0, 0.1),
    input-padding                     : 10px,
    input-focus-border                : 1px solid #cccccc,
    input-focus-box-shadow            : 0 0 10px rgba(0, 0, 0, 0.2),
    input-disabled-bg-color           : #f1f1f1,

    textarea-height                   : 160px,

    select-color                      : #888888,
    select-padding                    : 10px 10px 10px 5px,
    select-hover-box-shadow           : 0 0 15px rgba(0, 0, 0, 0.2),
    select-multiple-box-shadow        : 0 0 1px rgba(0, 0, 0, 0.1),
    select-icon-color                 : #bbbbbb,
    select-icon-height                : 42px,
    select-icon-font-size             : 14px,
    select-icon-top                   : 0,
    select-icon-right                 : 10px,

    switch-width                      : 30px,
    switch-height                     : 25px,
    switch-label-box-shadow           : 1px 1px 2px rgba(0, 0, 0, 0.1),

    input-list-margin-top             : 8px,
    input-list-item-margin-top        : 5px,

    checkbox-radio-size               : 20px,
    checkbox-radio-bg-color           : #f1f1f1,
    checkbox-radio-border-color       : #cbcbcb,
    checkbox-radio-box-shadow         : 0 0 10px rgba(0, 0, 0, 0.2),
    checkbox-radio-focus-bg-color     : #f1f1f1,
    checkbox-radio-focus-border-color : #cbcbcb,
    checkbox-radio-focus-box-shadow   : 0 0 10px rgba(0, 0, 0, 0.2),

    actions-margin-top                : 20px,
    actions-pre                       : 5,

    required-field-font-size          : 14px,
    
    validation-color                  : #444444,
    validation-icon-right             : 10px,
    validation-icon-top               : 9px,
    validation-font-size              : 12px,
    validation-arrow-size             : 8px

);


/* Notifications
==========
*/

$notifications: (
    bg-color            : map-get($color, alpha),
    padding-alpha       : 20px 60px 20px 20px,
    padding-beta        : 30px 60px 30px 30px,
    margin-bottom       : 30px,
    border-width        : 1px,
    border-color        : darken(map-get($color, alpha), 5%),
    icon-color-info     : #2690b0,
    icon-color-success  : #26b036,
    icon-color-error    : #b02626,
    close-color         : black,
    close-opacity       : 0.2,
    close-opacity-hover : 0.5,
    close-top           : 10px,
    close-right         : 14px,
    cookie-bg           : rgba(0, 0, 0, 0.85),
    cookie-padding      : 20px 0
);


/* Navigation bar
==========
*/

$nav-bar: (
    mq                : gamma-and-up,
    bg-color          : #222222,
    trigger-bg-color  : #222222,
    trigger-float     : right,
    trigger-height    : 50px,
    trigger-font-size : 30px,
    nav-position      : right,
    nav-margin-left   : 0,
    link-text-align   : center,
    link-padding      : 20px 30px,
    link-color        : white
);


/* Off canvas
==========
*/

$off-canvas: (
    width                    : 260px,
    bg-color                 : #333333,
    item-border-top-color    : #333333,
    item-border-bottom-color : #333333,
    link-padding             : 10px 20px,
    link-color               : white,
    toggle-bg-color          : #333333,
    toggle-color             : white,
    toggle-font-size         : 30px,
    toggle-width             : 50px,
    toggle-height            : 50px,
    toggle-hover-darken      : 5%,
    overlay-opacity          : 0.3
);


/* Tabs
==========
*/

$tabs: (
    bg-color                 : map-get($btn-bg, alpha),
    border-color             : darken(map-get($btn-bg, alpha), 5%),
    color                    : lighten(map-get($color, text), 20%),
    padding                  : 15px 20px,
    margin-left              : 0,
    bg-color-active          : white,
    content-border-top-color : darken(map-get($btn-bg, alpha), 5%),
    content-padding          : 20px 0,
    item-transition-speed    : 0.5s
);


/* Table
==========
*/

$table: (
    margin-bottom  : 30px,
    padding        : map-get($base, padding),
    border-color   : darken(map-get($btn-bg, alpha), 5%),
    border-radius  : map-get($base, border-radius),
    bg-color-zebra : #f8f8f8,
    bg-color-hover : #f6f6f6
);


/* Tooltip
==========
*/

$tooltip: (
    min-width        : 150px,
    max-width        : 220px,
    arrow-width      : 5px,
    transition-speed : map-get($base, transition-speed),
    bg-color         : map-get($color, beta),
    padding          : map-get($base, padding),
    border-radius    : map-get($base, border-radius),
    font-size        : 12px,
    color            : white
);


/* Modal window
==========
*/

$modal: (
    min-width                   : 320px,
    max-width                   : 630px,
    transition-duration         : 0.5s,
    content-bg-color            : white,
    content-padding             : 40px,
    content-border-radius       : map-get($base, border-radius),
    overlay-bg-color            : black,
    overlay-opacity             : 0.4,
);


/* Accordion
==========
*/

$accordion: (
    transition-speed           : map-get($base, transition-speed),
    padding                    : 15px 20px,
    border-color               : darken(map-get($btn-bg, alpha), 5%),
    gradient                   : map-get($base, gradient),
    border-radius              : map-get($base, border-radius),
    group-margin-bottom        : 0,
    trigger-icon-right         : 20px,
    trigger-bg-color           : map-get($btn-bg, alpha),
    trigger-bg-color-show      : map-get($color, beta),
    trigger-hover-darken       : 5%,
    trigger-color              : map-get($color, text),
    trigger-color-show         : white,
    trigger-gradient-bg        : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    trigger-icon-content       : '\e80a',
    trigger-icon-content-after : '\e80d',
    trigger-icon-color         : map-get($color, text),
    trigger-icon-color-show    : white,
    content-padding            : 0 20px,
    content-margin-top-first   : 20px
);


/* Breadcrumb
==========
*/

$breadcrumbs: (
    bg-color      : #f5f5f5,
    margin        : 0 0 40px 0,
    padding       : 15px 20px,
    link-margin   : 10px,
    divider       : '/',
    divider-color : #cccccc,
    current-color : #aaaaaa
);


/* Pricing tables
==========
*/

$pricing-table: (
    border-color          : darken(map-get($btn-bg, alpha), 5%),
    header-bg-color       : lighten(black, 20%),
    header-padding        : 15px 20px,
    content-padding       : 10px 20px,
    price-font-size       : 30px,
    description-font-size : 20px,
    action-padding-top    : 20px,
    action-padding-bottom : 20px
);


/* Progress bar
==========
*/

$progress-bar: (
    bg-color       : map-get($color, alpha),
    value-bg-color : map-get($color, beta)
);


/* Spinners
==========
*/

$spinner: (
    animation-speed : 1s,
    font-size       : 30px
);


/* Dropdown
==========
*/

$dropdown: (
    min-width           : 200px,
    max-width           : 300px,
    bg-color            : lighten(map-get($btn-bg, alpha), 5%),
    border              : 1px solid darken(map-get($btn-bg, alpha), 5%),
    transition-duration : 0.2s,
    transition-delay    : 0.5s,
    transform           : translate3d(0, 10%, 0) scale(0.8),
    transform-hover     : translate3d(0, 0, 0) scale(1),
    link-padding        : 10px 15px,
    link-bg-color       : transparent,
    link-bg-color-hover : darken(map-get($color, alpha), 2%),
    link-border-top     : 0 solid darken(map-get($btn-bg, alpha), 1%)
);

/* Media
==========
*/

$media: (
    margin-bottom       : 40px,
    bordered-padding    : 20px 0,
    bordered-border-top : 1px solid map-get($table, border-color),
);

