.form--input__error {
    &.form--input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-error;
            color: $color-delta;
        }
    }

    #{$input-selectors} {
        border-color: $color-delta;
        box-shadow: none;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &.form--input__select-validated {
        &:after {
            display: none;
        }
    }

    .form--select {
        border-color: $color-delta;

        &:after {
            color: $color-delta;
        }
    }

    input[type=checkbox],
    input[type=radio] {
        + label {
            &:before {
                background: lighten($color-delta, 45%);
                border-color: $color-delta;
            }

            &:after {
                color: $color-delta;
            }
        }
    }
}

.form--input__success {
    &.form--input {
        &:after {
            @extend %font-fontello;

            content: $icon-form-validation-success;
            color: $color-gamma;
        }
    }

    #{$input-selectors} {
        border-color: $color-gamma;
        box-shadow: none;

        @include rem(padding-right, 30px);

        &:focus {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }
    }

    &.form--input__select-validated {
        &:after {
            display: none;
        }
    }

    .form--select {
        border-color: $color-gamma;

        &:after {
            color: $color-gamma;
        }
    }
}

.parsley-error-list {
    @extend .list-unstyled;

    clear: both;
    max-width: 100%;
    display: inline-block;
    position: relative;
    background: #eeeeee;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);

    @include rem(border-radius, 0 3px 3px 3px);
    @include rem(margin-top, 20px);
    @include rem(margin-bottom, 10px);
    @include rem(padding, 10px);
    @include rem(font-size, 14px);

    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 0;
        border: 10px solid transparent;
        border-bottom-color: #eeeeee;
    }
}