/*=============================
=            off-canvas            =
=============================*/

.off-canvas-toggle-left,
.off-canvas-toggle-right {
    @extend %font-fontello;

    background: $off-canvas-toggle-bg-color;
    position: absolute;
    top: 0;
    z-index: 10000;
    color: $white;
    text-align: center;
    border: none;

    @include rem(font-size, 30px);
    @include rem(width, 50px);
    @include rem(height, 50px);
    @include rem(line-height, 50px);

    &:hover {
        background: lighten($off-canvas-toggle-bg-color, 5%);
        color: $white;
        text-decoration: none;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.off-canvas-toggle-left {
    @include rem(right, -50px);

    &:before {
        content: '';

        .off-canvas-show-left & {
            content: '';
        }
    }
}

.off-canvas-toggle-right {
    @include rem(left, -50px);

    &:before {
        content: '';

        .off-canvas-show-right & {
            content: '';
        }
    }
}

.off-canvas {
    background: $off-canvas-bg-color;
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;

    @include rem(width, $off-canvas-width);
}

.off-canvas--left {
    left: 0;
    transform: translate3d(-$off-canvas-width, 0, 0);
    transition: transform $base-transition-speed;

    .off-canvas-show-left & {
        transform: translate3d(0, 0, 0);
    }

    .no-csstransforms3d & {
        left: -$off-canvas-width;
    }

    .no-csstransforms3d.off-canvas-show-left & {
        left: 0;
    }
}

.off-canvas--right {
    right: 0;
    transform: translate3d($off-canvas-width, 0, 0);
    transition: transform $base-transition-speed;

    .off-canvas-show-right & {
        transform: translate3d(0, 0, 0);
    }

    .no-csstransforms3d & {
        right: -$off-canvas-width;
    }

    .no-csstransforms3d.off-canvas-show-left & {
        right: 0;
    }
}

.off-canvas-push {
    &:after {
        content: '';
        background: $black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: all $base-transition-speed;

        .off-canvas-show-left &,
        .off-canvas-show-right & {
            visibility: visible;
            opacity: 0.3;
        }

        .lt-ie10 & {
            display: none;
        }
    }
}

.off-canvas-nav__item {
    border-top: 1px solid $white;
    border-bottom: 1px solid darken($off-canvas-bg-color, 5%);

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.off-canvas-nav__link {
    display: block;
    color: $black;

    @include rem(padding, 20px);

    &.active {
        background: lighten($off-canvas-bg-color, 3%);
    }
}
