/* Modal Superscale
==========
*/

.modal[data-modal-effect=superscale] {
    .modal__content {
        opacity: 0;
        transform: scale(2);
        transition: all 0.3s;
    }

    &.modal-show {
        .modal__content {
            opacity: 1;
            transform: scale(1);
        }
    }
}