/* Affix
==========
*/

.affix-container {
	position: relative;
}

.affix {
	position: relative;
}

.affix--fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.affix--absolute {
	position: absolute;
	top: inherit !important;
	bottom: 0;
}

/*doc
---
title: Affix
name: affix
category: Navigation
---

```html_example
<div class="grid affix-container">
	<div class="column-3">
		<div class="affix" data-affix>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ducimus voluptates veniam a. Suscipit esse eaque nemo ratione voluptatibus amet maxime ipsam voluptas, reiciendis veniam, asperiores pariatur, dolorem at repellendus?
		</div>
	</div>
	<div class="column-9">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto quisquam tempore saepe accusantium sunt sit commodi dolores molestias officiis porro, ab blanditiis asperiores cumque. Sed dicta in voluptas id.</p>
	</div>
</div>
```

*/