/* Block
==========

@TODO: Rename to cards
*/

.block {
    background: map-get($block, bg);

    @include rem(padding, map-get($block, padding-alpha));

    @include mq(beta) {
        @include rem(padding, map-get($block, padding-beta));
    }

    @include mq(gamma-and-up) {
        @include rem(padding, map-get($block, padding-gamma));
    }
}

/*doc
---
title: Cards
name: cards
category: Content
---

```html_example
<div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eos aperiam nesciunt veniam ex ipsa rem delectus accusamus eligendi saepe. Dolorum, distinctio aspernatur doloremque, obcaecati necessitatibus accusamus laborum! Odit, tempore!</div>
```

*/