/* Breadcrumbs
==========
*/

.breadcrumbs {
    background: map-get($breadcrumbs, bg-color);
    border-radius: map-get($base, border-radius);
    padding: rem(map-get($breadcrumbs, padding-vertical)) rem(map-get($breadcrumbs, padding-horizontal));
    margin-bottom: rem(map-get($breadcrumbs, margin-bottom));

    a,
    span {
        display: inline-block;
    }

    a {
        margin-right: rem(map-get($breadcrumbs, link-margin));

        &::after {
            content: map-get($breadcrumbs, divider);
            color: map-get($breadcrumbs, divider-color);
            margin-left: rem(map-get($breadcrumbs, link-margin));
        }
    }

    span {
        color: map-get($breadcrumbs, current-color);
    }
}

/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: Navigation
---

```html_example
<div class="breadcrumbs">
    <a class="breadcrubs__link" href="#">Home</a>
    <a class="breadcrubs__link" href="#">Lorem</a>
    <span>Ipsum dolir asmit emet</span>
</div>
```

*/