/* Google maps
==========
*/

.google-maps {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/*doc
---
title: Google maps
name: google_maps
category: Content
---

The map is styled with the styles options, the style used for these docs is borrowed from [snazzymaps](https://snazzymaps.com).

```html_example
<div class="google-maps">
    <div id="google-maps" class="google-maps__map"></div>
</div>
```

*/