/* Grid
==========
*/


.grid {
    @extend .clearfix;

    position: relative;
}

[class|=column] {
    @extend .clearfix;

    width: 100%;
    margin-bottom: gutter(map-get($susy, columns));

    @include mq(beta-and-up){
        float: left;
        margin-left: gutter(map-get($susy, columns));
    }

    &:first-child { margin-left: 0;   }

    .grid--no-gutters &            { margin: 0;        }
    .grid--no-horizontal-gutters & { margin-left: 0;   }
    .grid--no-vertical-gutters &   { margin-bottom: 0; }
}

[class|=column-alpha],
[class|=column-alpha-and-up],
[class|=column-beta],
[class|=column-beta-and-up],
[class|=column-gamma],
[class|=column-gamma-and-up],
[class|=column-delta],
[class|=column-delta-and-up],
[class|=column-epsilon],
[class|=column-epsilon-and-up],
[class|=column-zeta],
[class|=column-zeta-and-up],
[class|=column-eta],
[class|=column-eta-and-up] {
    float: left;
    margin-left: gutter(map-get($susy, columns));
}

@include defaultGridColumn(beta-and-up);

@include gridColumn(alpha);
@include gridColumn(alpha-and-up);
@include gridColumn(beta);
@include gridColumn(gamma);
@include gridColumn(gamma-and-up);
@include gridColumn(delta);
@include gridColumn(delta-and-up);
@include gridColumn(epsilon);
@include gridColumn(epsilon-and-up);
@include gridColumn(zeta);
@include gridColumn(zeta-and-up);
@include gridColumn(eta);
@include gridColumn(eta-and-up);

.column-centered,
.column-centered:first-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/*doc
---
title: Grid
name: grid
category: Structure
---

The default grid is a 12 columns grid which you can change in the settings, even as the gutter width.

## Just a basic grid

```html_example
<div class="grid">
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
</div>
```

## No gutters

```html_example
<div class="grid grid--no-gutters">
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
    <div class="column-3">
        <div class="card">
            <div class="card__content">column-3</div>
        </div>
    </div>
</div>
```

## Breakpoint specific
```html_example
<div class="grid">
    <div class="column-alpha-6 column-beta-12 column-gamma-and-up-3">
        <div class="card">
            <div class="card__content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
    <div class="column-alpha-6 column-beta-4 column-beta--first column-gamma-and-up-3">
        <div class="card">
            <div class="card__content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
    <div class="column-alpha-6 column-alpha--first column-beta-4 column-gamma-and-up-3">
        <div class="card">
            <div class="card__content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
    <div class="column-alpha-6 column-beta-4 column-gamma-and-up-3">
        <div class="card">
            <div class="card__content">Lorem ipsum dolor sit amet</div>
        </div>
    </div>
</div>
```

## Centered
```html_example
<div class="grid">
    <div class="column-6 column-centered">
        <div class="card">
            <div class="card__content">column-6</div>
        </div>
    </div>
</div>
```

## Pre class
```html_example
<div class="grid">
    <div class="column-6 pre-2">
        <div class="card">
            <div class="card__content">column-6 pre-2</div>
        </div>
    </div>
</div>
```

## Post class
```html_example
<div class="grid">
    <div class="column-6 post-2">
        <div class="card">
            <div class="card__content">column-7 post-1</div>
        </div>
    </div>
    <div class="column-4">
        <div class="card">
            <div class="card__content">column-4</div>
        </div>
    </div>
</div>
```

*/