/* Progress bar
==========
*/


/*==========  Bar  ==========*/

progress,
.progress-bar {
	background-color: map-get($progress-bar, bg-color);
	position: relative;
	border: 0;
	width: 100%;
	height: rem(15px);
	overflow: hidden;
	color: map-get($progress-bar, value-bg-color);
	border-radius: map-get($base, border-radius);
	-webkit-appearance: none;
	-moz-appearance: none;
}

progress[value]::-webkit-progress-bar {
	background-color: map-get($progress-bar, bg-color);
}


/*==========  Value  ==========*/

@keyframes progress-bar {
	100% {
		background-position: 100px 0;
	}
}

@mixin progress-style() {
	background-size: 25px 15px, 100% 100%, 100% 100%;
	border-radius: map-get($base, border-radius);
	border: 0;
	height: rem(15px);
	transition: width map-get($base, transition-speed);
	animation: progress-bar 1s linear infinite;

	@if map-get($base, gradient) {
		background-image: linear-gradient(-45deg, transparent, transparent 33%, rgba(0,0,0,0.05) 33%,rgba(0,0,0,0.05) 66%,transparent 66%),
						  linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	} @else {
		background-image: linear-gradient(-45deg, transparent, transparent 33%, rgba(0,0,0,0.05) 33%,rgba(0,0,0,0.05) 66%,transparent 66%);
	}
}

progress[value] {
	&::-webkit-progress-value { @include progress-style(); background-color: map-get($progress-bar, value-bg-color); }
	&::-moz-progress-bar      { @include progress-style(); background-color: map-get($progress-bar, value-bg-color); }
	&::-ms-fill               { @include progress-style(); background-color: map-get($progress-bar, value-bg-color); }
}

.progress-bar__value { @include progress-style(); background-color: map-get($progress-bar, value-bg-color); }


/*==========  Inderterminate progress  ==========*/

@mixin progress-indeterminate() {
	background-color: map-get($progress-bar, bg-color);
}

progress:not([value]) {
	@include progress-style();

	&::-webkit-progress-bar { @include progress-style(); @include progress-indeterminate(); }
	&::-moz-progress-bar    { @include progress-style(); @include progress-indeterminate(); }
	&::-ms-fill             { @include progress-style(); @include progress-indeterminate(); animation-name: none; }
}

.progress-bar__value:not([style]) {
	background-color: map-get($progress-bar, bg-color);
}


/*doc
---
title: Progress bars
name: progress_bars
category: Content
---

## Indeterminate

```html_example
<progress>
	<div class="progress-bar">
		<div class="progress-bar__value"></div>
	</div>
</progress>
<div class="progress-bar">
	<div class="progress-bar__value"></div>
</div>
```


## Determinate

```html_example
<progress max="100" value="80">
	<div class="progress-bar">
		<div class="progress-bar__value" style="width: 80%;"></div>
	</div>
</progress>
<div class="progress-bar">
	<div class="progress-bar__value" style="width: 80%;"></div>
</div>
```

*/