/* Sections
==========
*/

.section {
	color: white;
	padding-top: rem(map-get($section, padding-vertical));
	padding-bottom: rem(map-get($section, padding-vertical));

	@include mq(beta) {
		padding-top: rem(map-get($section, padding-vertical)*1.5);
		padding-bottom: rem(map-get($section, padding-vertical)*1.5);
	}

	@include mq(gamma-and-up) {
		padding-top: rem(map-get($section, padding-vertical)*2);
		padding-bottom: rem(map-get($section, padding-vertical)*2);
	}

	@each $key, $value in $section-bg {
		&--#{$key} {
			background: map-get($section-bg, $key);
		}
	}

	> .container > *:last-child {
		margin-bottom: 0;
	}

	&--alpha {
		color: map-get($color, text);
	}
}

.section-img {
	background: url('../dist/img/someimage.jpg') center center fixed;
	background-size: cover;
	height: rem(300px);

	@include mq(beta) {
		height: rem(400px);
	}

	@include mq(gamma-and-up) {
		height: rem(500px);
	}
}

.section__list {
	margin-bottom: rem(map-get($section, list-margin-bottom));
}

.section__paragraph {
	margin-bottom: rem(map-get($section, paragraph-margin-bottom));
}

/*doc
---
title: Sections
name: sections
category: Structure
---

Sections are blocks of content with a background color or image. Usually you combine this with a container class child element.
There are five colors defined for you as modifiers (section--alpha, section--beta, etc..) but you can add extra or change the predefined colors in the settings.scss file if you need to.

```html_example
<div class="section section--alpha">
	<div class="container">
		Some content..
	</div>
</div>
```

```html_example
<div class="section section--beta">
	<div class="container">
		Some content..
	</div>
</div>
```

```html_example
<div class="section section--gamma">
	<div class="container">
		Some content..
	</div>
</div>
```

```html_example
<div class="section section--delta">
	<div class="container">
		Some content..
	</div>
</div>
```

```html_example
<div class="section section--epsilon">
	<div class="container">
		Some content..
	</div>
</div>
```

*/