/* Styleguide
==========
*/

h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
}

h1.styleguide {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #EEE;
}

h2.styleguide {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #EEE;
}

a.styleguide {
    text-decoration: underline;
}

.styleguide-nav {
    @extend .block;

    &__sub {
        background: tint(map-get($color, epsilon), 5%);
        padding-top: rem(10px);
        padding-bottom: rem(10px);
    }

    &__category {
        display: block;
    }

    &__item {
        font-size: rem(14px);
        padding: rem(5px) rem(20px);
    }

    &__link {
        display: block;

        &.scrollspy-nav--active {
            color: map-get($color, text);
        }
    }
}

.codeBlock {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
}

.codeBlock pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.codeBlock .highlight pre,
.codeBlock pre {
    padding: 16px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.45;
    background-color: #1d1f21;
    border-radius: 3px;
    color: #fff
}

.codeBlock  pre {
    word-wrap: normal;
}


/**
 * Copyright (c) 2013 Trulia, Inc.
 *
 * MIT License
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.hll { background-color: #373b41 }
.c {  color: #969896 }
.err { olor: #c66 }
.k {  color: #b294bb }
.l {  color: #de935f }
.n {  color: #fff }
.o {  color: #8abeb7 }
.p {  color: #fff }
.cm { color: #969896 }
.cp { color: #969896 }
.c1 { color: #969896 }
.cs { color: #969896 }
.gd { color: #c66 }
.ge { font-style: italic }
.gh { color: #ffffff; font-weight: bold }
.gi { color: #b5bd68 }
.gp { color: #969896; font-weight: bold }
.gs { font-weight: bold }
.gu { color: #8abeb7; font-weight: bold }
.kc { color: #b294bb }
.kd { color: #b294bb }
.kn { color: #8abeb7 }
.kp { color: #b294bb }
.kr { color: #b294bb }
.kt { color: #f0c674 }
.ld { color: #b5bd68 }
.m {  color: #de935f }
.s {  color: #b5bd68 }
.na { color: #81a2be }
.nb { color: #fff }
.nc { color: #f0c674 }
.no { color: #c66 }
.nd { color: #8abeb7 }
.ni { color: #fff }
.ne { color: #c66 }
.nf { color: #81a2be }
.nl { color: #fff }
.nn { color: #f0c674 }
.nx { color: #81a2be }
.py { color: #fff }
.nt { color: #8abeb7 }
.nv { color: #c66 }
.ow { color: #8abeb7 }
.w {  color: #fff }
.mf { color: #de935f }
.mh { color: #de935f }
.mi { color: #de935f }
.mo { color: #de935f }
.sb { color: #b5bd68 }
.sc { color: #fff }
.sd { color: #969896 }
.s2 { color: #b5bd68 }
.se { color: #de935f }
.sh { color: #b5bd68 }
.si { color: #de935f }
.sx { color: #b5bd68 }
.sr { color: #b5bd68 }
.s1 { color: #b5bd68 }
.ss { color: #b5bd68 }
.bp { color: #fff }
.vc { color: #c66 }
.vg { color: #c66 }
.vi { color: #c66 }
.il { color: #de935f }