/* Tooltips
==========
*/

.tooltip {
	display: inline-block;
	position: relative;

	&[data-tooltip-trigger=click] {
		cursor: pointer;
	}

	.tooltip__content {
		visibility: hidden;
		position: absolute;
		z-index: 100;
		opacity: 0;
		transition: all map-get($tooltip, transition-speed);
	}

	&.tooltip--active {
		&[data-tooltip-position=top],
		&[data-tooltip-position=bottom] {
			.tooltip__content{
				transform: translate(-50%, 0) scale(1);
			}
		}

		&[data-tooltip-position=right] {
			.tooltip__content{
				transform: translate(100%, 0) scale(1);
			}
		}

		&[data-tooltip-position=left] {
			.tooltip__content{
				transform: translate(-100%, 0) scale(1);
			}
		}

		.tooltip__content {
			visibility: visible;
			opacity: 1;
		}
	}

	.tooltip__content {
		text-align: center;
		background: map-get($tooltip, bg-color);
		color: map-get($tooltip, color);
		min-width: map-get($tooltip, min-width);
		max-width: map-get($tooltip, width);
		padding: map-get($tooltip, padding);
		border-radius: map-get($tooltip, border-radius);

		@include vr($tooltip-font-size);

		&::after {
			position: absolute;
			content: '';
			border: map-get($tooltip, arrow-width) solid transparent;
		}

		.no-csstransforms & {
			width: map-get($tooltip, max-width);
		}
	}
}

[data-tooltip-position=top],
[data-tooltip-position=bottom] {
	.tooltip__content {
		left: 50%;

		&::after {
			left: 50%;
			margin-left: -#{map-get($tooltip, arrow-width)};
		}

		.no-csstransforms & {
			margin-left: -#{map-get($tooltip, max-width)/2};
		}
	}
}

[data-tooltip-position=top] {
	.tooltip__content {
		transform: translate(-50%, 10%) scale(0.5);

		&::after {
			border-top-color: map-get($tooltip, bg-color);
			bottom: -#{map-get($tooltip, arrow-width)*2};
		}
	}
}

[data-tooltip-position=bottom] {
	.tooltip__content {
		transform: translate(-50%, -10%) scale(0.5);

		&::after {
			border-bottom-color: map-get($tooltip, bg-color);
			top: -#{map-get($tooltip, arrow-width)*2};
		}
	}
}

[data-tooltip-position=left],
[data-tooltip-position=right] {
	.tooltip__content {
		top: 50%;

		&::after {
			top: 50%;
			margin-top: -#{map-get($tooltip, arrow-width)};
		}
	}
}

[data-tooltip-position=right] {
	.tooltip__content {
		right: -(map-get($tooltip, arrow-width)*2);
		transform: translate(90%, 0) scale(0.5);

		&::after {
			border-right-color: map-get($tooltip, bg-color);
			left: -#{map-get($tooltip, arrow-width)*2};
		}

		.no-csstransforms & {
			right: -(map-get($tooltip, max-width)+map-get($tooltip, arrow-width)*2);
		}
	}
}

[data-tooltip-position=left] {
	.tooltip__content {
		left: -(map-get($tooltip, arrow-width)*2);
		transform: translate(-90%, 0) scale(0.5);

		&::after {
			border-left-color: map-get($tooltip, bg-color);
			right: -#{map-get($tooltip, arrow-width)*2};
		}

		.no-csstransforms & {
			left: -(map-get($tooltip, max-width)+map-get($tooltip, arrow-width)*2);
		}
	}
}

/*doc
---
title: Tooltips
name: tooltips
category: Callouts and prompts
---

Tooltips are used as fancy title attributes to display some info about a certain section.

## Top position

```html_example
<a class="btn btn--alpha btn--small tooltip" data-tooltip-position="top" title="Kids don't turn rotten just from watching TV. Why not indeed! Yeah, I do that with my stupidness.">top</a>
```

## Right position

```html_example
<a class="btn btn--alpha btn--small tooltip" data-tooltip-position="right" title="Kids don't turn rotten just from watching TV. Why not indeed! Yeah, I do that with my stupidness.">right</a>
```

## Bottom position

```html_example
<a class="btn btn--alpha btn--small tooltip" data-tooltip-position="bottom" title="Kids don't turn rotten just from watching TV. Why not indeed! Yeah, I do that with my stupidness.">bottom</a>
```

## Left position

```html_example
<a class="btn btn--alpha btn--small tooltip" data-tooltip-position="left" title="Kids don't turn rotten just from watching TV. Why not indeed! Yeah, I do that with my stupidness.">left</a>
```

## Click trigger

```html_example
<a class="btn btn--alpha btn--small tooltip" data-tooltip-position="top" title="Kids don't turn rotten just from watching TV. Why not indeed! Yeah, I do that with my stupidness." data-tooltip-trigger="click">click trigger</a>
```

*/
