/*doc
---
title: Typography
name: 7_typography
category: Typography
---

*/

%heading {
    margin-top: 0;
}

@for $i from 1 through 6 {
    .h#{$i},
    h#{$i} {
        @extend %heading;
    }
}

h1, .h1 {
    font-size: rem(26px);
    margin-bottom: rem(10px);

    @include mq(beta) {
        font-size: rem(30px);
        margin-bottom: rem(20px);
    }

    @include mq(gamma-and-up) {
        font-size: rem(34px);
        margin-bottom: rem(34px);
    }
}

h2, .h2 {
    font-size: rem(22px);
    margin-bottom: rem(10px);

    @include mq(gamma-and-up) {
        font-size: rem(26px);
    }
}

h3, .h3 {
    font-size: rem(22px);
    margin-bottom: rem(10px);
}

h4, .h4 {
    font-size: rem(18px);
    margin-bottom: rem(8px);
}

h5, .h5 {
    font-size: rem(16px);
    margin-bottom: rem(8px);
}

h6, .h6 {
    font-size: rem(14px);
    margin-bottom: rem(5px);
}

/*doc
---
title: Type
name: 8_type
category: Typography
---

```html_example
<h1>Heading 1</h1>
```

```html_example
<h2>Heading 2</h2>
```

```html_example
<h3>Heading 3</h3>
```

```html_example
<h3>Heading 4</h4>
```

```html_example
<h5>Heading 5</h5>
```

```html_example
<h6>Heading 6</h6>
```

*/