/*========================================================
=            Slide (top, right, bottom, left)            =
========================================================*/

.modal {
    &[data-modal-effect|=slide] {
        .modal__content {
            opacity: 0;
            transition: all map-get($modal, transition-duration) 0;
        }

        &.modal-show {
            .modal__content {
                opacity: 1;
                transition: all map-get($modal, transition-duration) 0.1s;
            }
        }
    }

    &[data-modal-effect=slide-top] {
        .modal__content {
            transform: translateY(-300%);
        }

        &.modal-show {
            .modal__content {
                transform: translateY(0);
            }
        }
    }

    &[data-modal-effect=slide-right] {
        .modal__content {
            transform: translateX(300%);
        }

        &.modal-show {
            .modal__content {
                transform: translateX(0);
            }
        }
    }

    &[data-modal-effect=slide-bottom] {
        .modal__content {
            transform: translateY(300%);
        }

        &.modal-show {
            .modal__content {
                transform: translateY(0);
            }
        }
    }

    &[data-modal-effect=slide-left] {
        .modal__content {
            transform: translateX(-300%);
        }

        &.modal-show {
            .modal__content {
                transform: translateX(0);
            }
        }
    }
}