/* Display
==========
*/

.display-inline {
	display: inline !important;
}

.display-inline-block {
	display: inline-block !important;
}

.display-block {
	display: block !important;
}

.display-none {
	display: none !important;
}

.display-table {
	display: table !important;
 }

.display-table__middle,
.display-table__bottom {
	display: table-cell !important;
}

.display-table__middle {
	vertical-align: middle !important;
}

.display-table__bottom {
	vertical-align: bottom !important;
}