/* Display
==========
*/

.display-flex {
    display: flex !important;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

.display-table {
    display: table !important;

    &__middle,
    &__bottom {
        display: table-cell !important;
    }

    &__middle {
        vertical-align: middle !important;
    }

    &__bottom {
        vertical-align: bottom !important;
    }
 }