/* Grid margin
==========
*/

.grid-margin {
	margin: gutter(map-get($susy, columns));
}

.grid-margin-vertical {
	margin-top: gutter(map-get($susy, columns));
	margin-bottom: gutter(map-get($susy, columns));
}

.grid-margin-horizontal {
	margin-left: gutter(map-get($susy, columns));
	margin-right: gutter(map-get($susy, columns));
}

.grid-margin-right { margin-right: gutter(map-get($susy, columns)); }
.grid-margin-left { margin-left: gutter(map-get($susy, columns)); }
.grid-margin-top { margin-top: gutter(map-get($susy, columns)); }
.grid-margin-bottom { margin-bottom: gutter(map-get($susy, columns)); }