/* Text transform
==========
*/

.text-transform-caps {
	text-transform: caps;
}

.text-transform-thin {
	text-transform: thin;
}

.text-transform-small {
	text-transform: small;
}

.text-transform-uppercase {
	text-transform: uppercase;
}