/* Text align
==========
*/

.vertical-align-top {
	vertical-align: top !important;
}

.vertical-align-bottom {
	vertical-align: bottom !important;
}

.vertical-align-middle {
	vertical-align: middle !important;
}

.vertical-align-baseline {
	vertical-align: baseline !important;
}

.vertical-align-initial {
	vertical-align: initial !important;
}

.vertical-align-inherit {
	vertical-align: inherit !important;
}