/* Visually hidden
==========
*/


.visuallyhidden,
.show-screenreaders {
	@include hide();
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto !important;
	height: auto !important;
	margin: 0 !important;
	overflow: visible !important;
	position: static !important;
	width: auto !important;
}