/* Block grid
==========
*/

.block-grid {
    @extend .clearfix;

    margin-left: -(map-get($block-grid, margin) / 2);
    margin-right: -(map-get($block-grid, margin) / 2);

    &__item {
        position: relative;
        overflow: hidden;
        display: block;
        float: left;
        width: (100 / map-get($block-grid, row-count-alpha))-(map-get($block-grid, margin));
        margin-bottom: map-get($block-grid, margin);
        margin-left: map-get($block-grid, margin) / 2;
        margin-right: map-get($block-grid, margin) / 2;

        @include mq(beta)       { width: (100 / map-get($block-grid, row-count-beta))-(map-get($block-grid, margin));    }
        @include mq(gamma)      { width: (100 / map-get($block-grid, row-count-gamma))-(map-get($block-grid, margin));   }
        @include mq(delta)      { width: (100 / map-get($block-grid, row-count-delta))-(map-get($block-grid, margin));   }
        @include mq(epsilon)    { width: (100 / map-get($block-grid, row-count-epsilon))-(map-get($block-grid, margin)); }
        @include mq(zeta)       { width: (100 / map-get($block-grid, row-count-zeta))-(map-get($block-grid, margin));    }
        @include mq(eta-and-up) { width: (100 / map-get($block-grid, row-count-eta))-(map-get($block-grid, margin));     }

        &:before {
            content: '';
            background: map-get($block-grid, overlay-bg);
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: all map-get($base, transition-speed);
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &__img {
        width: 100%;
    }
}


/*doc
---
title: Grid (block)
name: grid_block
category: Structure
---

This little module will fancy you a nice block grid. Breakpoint settings can be modified in settings.scss.

```html_example
<div class="block-grid">
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/1" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/2" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/3" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/4" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/5" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/6" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/7" />
    </a>
    <a class="block-grid__item" href="#">
        <img class="block-grid__img" src="http://www.lorempixel.com/300/300/business/8" />
    </a>
</div>
```

*/
