/* Modals
==========
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: map-get($modal, min-width);
    max-width: map-get($modal, max-width);
    height: 100%;
    z-index: 2000;
    visibility: hidden;
    overflow-y: auto;

    @include mq(beta-and-up) {
        min-width: rem(500px);
    }

    @include mq(gamma-and-up) {
        height: auto;
        top: 50%;
        left: 50%;
        width: 50%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        max-width: map-get($modal, max-width);
    }

    &.modal-show {
        visibility: visible;
    }

    .lt-ie9 & {
        top: 0;
        margin-left: -(map-get($modal, max-width)/2);
    }

    &__content {
        background: map-get($modal, content-bg-color);
        border-radius: map-get($modal, content-border-radius);
        position: relative;
        margin: 0 auto;
        opacity: 0;
        height: 100%;
        transform: scale(0.7);
        transition: all 0.3s;
        padding: rem(map-get($modal, content-padding));

        .modal-show & {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__overlay {
        background: map-get($modal, overlay-bg-color);
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        opacity: 0;
        transition-property: visibility opacity;
        transition-delay: 0.1s;
        transition-duration: map-get($modal, transition-duration);

        .modal-show & {
            visibility: visible;
            opacity: map-get($modal, overlay-opacity);
            transition: opacity map-get($modal, transition-duration);
        }
    }

    &__close {
        @extend .icon;
        @extend .icon--cancel;
        @extend .color-epsilon;

        position: absolute;
        top: rem(10px);
        right: rem(10px);
        padding: rem(10px);
        font-size: rem(30px);
        line-height: rem(30px);
    }
}


/*doc
---
title: Modals
name: modals
category: Callouts and prompts
---

## Make

```html_example
<a class="btn btn--alpha btn--small modal__trigger" data-modal-id="modal-make" data-modal-title="Weet je het zeker?" data-modal-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-modal-close-btn="sluiten">Make</a>
```

## Confirm

You can go both ways with the confirm modal. You could call it from your HTML with data attributes or you could call it from Javascript. If you use Javascript you can set a callback function, this function will trigger when the modal has opened.

### HTML
```html_example
<a class="btn btn--alpha btn--small modal__trigger" data-modal-id="modal-make2" data-modal-title="Weet je het zeker?" data-modal-close-btn="annuleren" data-modal="confirm" data-modal-confirm-action="http://www.google.nl" data-modal-confirm-btn="Ja, verwijder">Confirm</a>
```


### Javascript call
```
app.modals.confirm({
    modalTitle: 'title', // Title printed in the modal (optional)
    modalText: 'text', // Text to explain the action (optional)
    modalConfirmAction: 'http://google.nl', // URL for the confirm button
    modalConfirmBtn: 'bevestigen', // Confirm button text (optional, default: bevestigen)
    modalCloseBtn: 'annuleren', // Cancel button text (optional, default: annuleren)

    modalOpenCallback: function () {
        // Do magic here..
    }
});
```


## Static

```html_example
<a class="btn btn--alpha btn--small modal__trigger" data-modal-id="modal-static">Static</a>
<div id="modal-static" class="modal">
    <div class="modal__content">
        <a class="modal__close" data-modal-close></a>
        <h2>Dit is een titel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis consectetur ligula. Morbi dapibus tellus a ipsum sollicitudin aliquet. Phasellus id est lacus. Pellentesque a elementum velit, a tempor nulla. Mauris mauris lectus, tincidunt et purus rhoncus, eleifend convallis turpis. Nunc ullamcorper bibendum diam, vitae tempus dolor hendrerit iaculis. Phasellus tellus elit, feugiat vel mi et, euismod varius augue. Nulla a porttitor sapien. Donec vestibulum ac nisl sed bibendum. Praesent neque ipsum, commodo eget venenatis vel, tempus sit amet ante. Curabitur vel odio eget urna dapibus imperdiet sit amet eget felis. Vestibulum eros velit, posuere a metus eget, aliquam euismod purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a href="#" class="btn btn--beta btn--medium" data-modal-close>Akkoord</a>
    </div>
</div>
```


## Open

Function to open a modal from Javascript.

```
app.modals.openModal(this, options);
```


## Close

Function to close an open modal.

```
app.modals.closeModal();
```

*/