
.icon-spin2:before { content: '\e809'; } /* '' */
.icon-spinner1:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */