/*===================================================================
=            Default Susy grid (http://susy.oddbird.net)            =
===================================================================*/


/*==========  Grid class  ==========*/
.grid {
	position: relative;
    @include container;
}

[class|="columns"] {
	margin-bottom: $gutter-width;

	&.omega {
        @include omega;

        .lt-ie9 & {
        	float: left !important;
        }
    }
}

/*==========  Columns  ==========*/
@for $i from 1 through $total-columns {
    .columns-#{$i} {
    	/*==========  Mobile  ==========*/
		@include span-columns($total-columns, $total-columns);

		/*==========  Tablet and up  ==========*/
    	@include breakpoint(tablet-and-up){
			@include span-columns($i, $total-columns);
    	}

    	/*==========  Desktop  ==========*/
    	@include breakpoint(desktop-and-up){
    		// Nothing to see here..
    	}
    }
}

input[class|=columns] {
    margin-bottom: 0;
}