/*===================================================================
=            Default Susy grid (http://susy.oddbird.net)            =
===================================================================*/


/*==========  Grid class  ==========*/
.grid {
    position: relative;
    @include container;
}

[class|="column"] {
    margin-bottom: $gutter-width;

    &.omega {
        @include omega;

        .lt-ie9 & {
            float: left !important;
        }
    }
}

/*==========  Columns  ==========*/
@for $i from 1 through $total-columns {
    .column-#{$i} {
        @include span-columns($total-columns, $total-columns);

        @include breakpoint(medium-and-up){
            @include span-columns($i, $total-columns);
        }

        @include breakpoint(large-and-up){
            // Nothing to see here..
        }
    }
}