/*=====================================
=            Helper mixins            =
=====================================*/

/*==========  PX to EM  ==========*/
@function pxtoem($target){
   @return ($target/16)+0em;
}

/*==========  Breakpoints  ==========*/
@mixin breakpoint($point) {
  @if $point == desktop-and-up {
    @media (min-width: pxtoem(900)) { @content; }
  }
  
  @else if $point == tablet {
    @media (min-width: pxtoem(650)) and (max-width: pxtoem(900)) { @content; }
  }

  @else if $point == tablet-and-up {
    @media (min-width: pxtoem(650)) { @content; }
  }

  @else if $point == mobile {
    @media (max-width: pxtoem(649))  { @content; }
  }
}




/*======================================
=            Helper classes            =
======================================*/


/*==========  Hide classes  ==========*/
@include breakpoint(mobile) {
	.hide-mobile,
	.hide-mobile-and-tablet {
		display: none;
	}
}

@include breakpoint(tablet) {
	.hide-tablet,
	.hide-mobile-and-tablet {
		display: none;
	}
}

/*==========  Unstyled list  ==========*/
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*==========  Inline list  ==========*/
.inline-list {
	@extend .unstyled-list;

	li {
		display: inline;
		margin-right: pxtoem(10);
	}
}