/*=====================================
=            Helper mixins            =
=====================================*/

/*==========  PX to EM  ==========*/
@function pxtoem($target){
   @return ($target/16)+0em;
}

/*==========  Breakpoints  ==========*/
@mixin breakpoint($point) {
  @if $point == large-and-up {
    @media (min-width: pxtoem(900)) { @content; }
  }

  @else if $point == medium {
    @media (min-width: pxtoem(650)) and (max-width: pxtoem(900)) { @content; }
  }

  @else if $point == medium-and-up {
    @media (min-width: pxtoem(650)) { @content; }
  }

  @else if $point == small {
    @media (max-width: pxtoem(650))  { @content; }
  }
}


/*==========  Triangle  ==========*/
// @param width           :  px, em
// @param height          :  px, em
// @param direction       :  up, down, left, right
// @param color           :  hex, rgb
@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red) {
    width: 0;
    height: 0;

    // Right
    @if($direction == right){
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-left: $width solid $color;
    }

    // Left
    @if($direction == left){
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-right: $width solid $color;
    }

    // Up
    @if($direction == up){
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-bottom: $height solid $color;
    }

    // Down
    @if($direction == down){
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-top: $height solid $color;
    }
}

/*==========  Animation  ==========*/

@mixin animation($name, $duration, $direction, $function) {
    -webkit-animation: $name $duration $direction $function;
    -moz-animation: $name $duration $direction $function;
    animation: $name $duration $direction $function;
}




/*======================================
=            Helper classes            =
======================================*/


/*==========  Hide classes  ==========*/
@include breakpoint(small) {
    .hide-small,
    .hide-small-and-medium {
        display: none;
    }
}

@include breakpoint(medium) {
    .hide-medium,
    .hide-small-and-medium {
        display: none;
    }
}

/*==========  Unstyled list  ==========*/
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*==========  Inline list  ==========*/
.list-inline {
    @extend .list-unstyled;

    li {
        display: inline;
        margin-right: pxtoem(10);
    }
}