/*=================================
=            Accordion            =
=================================*/

.accordion {
    border: 1px solid map-get($accordion, border-color);
    border-radius: map-get($accordion, border-radius);
    overflow: hidden;
}

.accordion__group {
    overflow: hidden;
    margin-bottom: map-get($accordion, group-margin-bottom);

    &:first-child {
        .accordion__trigger {
            border-top: 0;
        }
    }
}

.accordion__trigger {
    display: block;
    background-color: map-get($accordion, trigger-bg-color);
    color: map-get($accordion, trigger-color);
    padding: map-get($accordion, padding);
    border-top: 1px solid map-get($accordion, border-color);

    @if map-get($accordion, gradient) {
        background-image: map-get($accordion, trigger-gradient-bg);
    }

    &:hover {
        background-color: darken(map-get($accordion, trigger-bg-color), map-get($accordion, trigger-hover-darken));
        color: darken(map-get($accordion, trigger-color), map-get($accordion, trigger-hover-darken));
    }
}

.accordion__content {
    overflow: hidden;
    padding: 0 map-get($accordion, padding);
    border-top: 1px solid map-get($accordion, trigger-bg-color);
    transition: all, map-get($accordion, transition-speed);

    .lt-ie9 & {
        height: 0;
    }

    *:first-child {
        margin-top: map-get($accordion, padding);
    }
}

.accordion-content--show {
    border-top: 1px solid map-get($accordion, border-color);

    .lt-ie9 & {
        height: auto;
        max-height: 1000px !important;
    }
}