/* Block grid
==========
*/

.block-grid {
    @extend .clearfix;

    margin-left: -(map-get($block-grid, margin) / 2);
    margin-right: -(map-get($block-grid, margin) / 2);

    &__item {
        position: relative;
        overflow: hidden;
        display: block;
        float: left;
        width: (100 / map-get($block-grid, row-count-alpha))-(map-get($block-grid, margin));
        margin-bottom: map-get($block-grid, margin);
        margin-left: map-get($block-grid, margin) / 2;
        margin-right: map-get($block-grid, margin) / 2;

        @include mq(beta) {
            width: (100 / map-get($block-grid, row-count-beta))-(map-get($block-grid, margin));
        }

        @include mq(gamma) {
            width: (100 / map-get($block-grid, row-count-gamma))-(map-get($block-grid, margin));
        }

        @include mq(epsilon) {
            width: (100 / map-get($block-grid, row-count-epsilon))-(map-get($block-grid, margin));
        }

        @include mq(zeta) {
            width: (100 / map-get($block-grid, row-count-zeta))-(map-get($block-grid, margin));
        }

        @include mq(eta) {
            width: (100 / map-get($block-grid, row-count-eta))-(map-get($block-grid, margin));
        }

        &:before {
            content: '';
            background: map-get($block-grid, overlay-bg);
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: all map-get($base, transition-speed);
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &__img {
        width: 100%;
    }
}
