/*===================================
=            Breadcrumbs            =
===================================*/

.breadcrumbs {
    background: map-get($breadcrumbs, bg-color);
    border-radius: map-get($base, border-radius);

    @include rem(padding, map-get($breadcrumbs, padding));

    a,
    span {
        display: inline-block;
    }

    a {
        @include rem(margin-right, map-get($breadcrumbs, margin));

        &:after {
            content: map-get($breadcrumbs, divider);
            color: map-get($breadcrumbs, divider-color);

            @include rem(margin-left, map-get($breadcrumbs, margin));
        }
    }

    span {
        color: map-get($breadcrumbs, current-color);
    }
}

