/*===================================
=            Breadcrumbs            =
===================================*/

.breadcrumbs {
    background: map-get($breadcrumbs, bg-color);
    padding: map-get($breadcrumbs, padding);
    border-radius: map-get($base, border-radius);

    a,
    span {
        display: inline-block;
    }

    a {
        margin-right: map-get($breadcrumbs, margin);

        &:after {
            margin-left: map-get($breadcrumbs, margin);
            content: '/';
            color: map-get($breadcrumbs, divider-color);
        }
    }

    span {
        color: map-get($breadcrumbs, current-color);
    }
}

