/* Container
==========
*/

#container {
    @include mq(alpha-and-beta) {
        padding-top: 0 !important;
    }
}

.container,
.container-beta {
    @extend .clearfix;

    margin-left: map-get($container, margin-left);
    margin-right: map-get($container, margin-right);

    @include rem(min-width, map-get($container, min-width));
    @include rem(padding-left, map-get($container, padding));
    @include rem(padding-right, map-get($container, padding));
    @include rem(margin-top, map-get($container, margin-top));
    @include rem(margin-bottom, map-get($container, margin-bottom));

    @include mq(beta) {
        @include rem(padding-left, map-get($container, padding)*2);
        @include rem(padding-right, map-get($container, padding)*2);
    }

    @include mq(gamma-and-up) {
        @include rem(padding-left, map-get($container, padding)*4);
        @include rem(padding-right, map-get($container, padding)*4);
    }
}

.container {
    @include rem(max-width, map-get($container, max-width));
}

.container-beta {
    @include rem(max-width, map-get($container, max-width-beta));
}