/*=================================
=            Dropdowns            =
=================================*/

.dropdown {
    position: relative;

    &:hover {
        .dropdown__content {
            visibility: visible;
            opacity: 1;
            transition: all 0.2s 0;
        }
    }

    ul {
        @extend .list-unstyled;
    }

    li {
        display: block;
        margin: 0;
    }
}

.dropdown__content {
    overflow: hidden;
    position: absolute;
    width: map-get($base, ten)*20;
    top: 34px;
    left: 0;
    margin-top: -1px;
    visibility: hidden;
    background-color: lighten(map-get($btn-bg, alpha), 5%);
    border: 1px solid darken(map-get($btn-bg, alpha), 10%);
    opacity: 0;
    transition: all 0.2s 0 0.3s;

    a {
        display: block;
        border-top: 1px solid darken(map-get($btn-bg, alpha), 1%);

        @include rem(padding, 10px 15px);

        &:hover {
            background-color: darken(map-get($accordion, trigger-bg-color), 1%);
        }
    }
}