/*===================================================================
=            Default Susy grid (http://susy.oddbird.net)            =
===================================================================*/


/*==========  Grid class  ==========*/

.grid {
    @extend .clearfix;

    position: relative;
}

[class|=column] {
    @extend .clearfix;

    width: 100%;
    margin-right: gutter(map-get($susy, columns));
    margin-bottom: gutter(map-get($susy, columns));

    @include breakpoint(beta-and-up){
        float: left;
        display: inline;
    }
}

.column--omega {
    float: right !important;
    margin-right: 0 !important;
    display: inline !important;

    .lt-ie9 & {
        float: left !important;
    }
}


/*==========  Columns  ==========*/

@include breakpoint(beta-and-up) {
    @for $i from 1 through map-get($susy, columns) {
        .column-#{$i} {
            width: span($i of map-get($susy, columns));
        }
    }
}