/*===================================================================
=            Default Susy grid (http://susy.oddbird.net)            =
===================================================================*/


.grid {
    @extend .clearfix;

    position: relative;
}

[class|=column] {
    @extend .clearfix;

    width: 100%;
    margin-bottom: gutter(map-get($susy, columns));

    @include breakpoint(beta-and-up){
        float: left;
        margin-left: gutter(map-get($susy, columns));
    }

    &:first-child {
        margin-left: 0;
    }
}

@include breakpoint(beta-and-up) {
    @for $i from 1 through map-get($susy, columns) {
        .column-#{$i} {
            width: span($i of map-get($susy, columns));
        }
    }
}