/* Grid
==========
*/


.grid {
    @extend .clearfix;

    position: relative;
}

[class|=column] {
    @extend .clearfix;

    width: 100%;
    margin-bottom: gutter(map-get($susy, columns));

    @include mq(beta-and-up){
        float: left;
        margin-left: gutter(map-get($susy, columns));
    }

    &:first-child { margin-left: 0;   }

    .grid--no-gutters &            { margin: 0;        }
    .grid--no-horizontal-gutters & { margin-left: 0;   }
    .grid--no-vertical-gutters &   { margin-bottom: 0; }
}

[class|=column-alpha],
[class|=column-alpha-and-up],
[class|=column-beta],
[class|=column-beta-and-up],
[class|=column-gamma-and-up] {
    float: left;
    margin-left: gutter(map-get($susy, columns));
}

@include defaultGridColumn(beta-and-up);

@include gridColumn(alpha);
@include gridColumn(alpha-and-up);
@include gridColumn(beta);
@include gridColumn(gamma-and-up);

.column-centered,
.column-centered:first-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
}