/*==============================
=            Layout            =
==============================*/

*,
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: map-get($color, body);
}

body {
    font-family: arial, verdana, sans-serif;
    color: map-get($color, text);
}

.background {
    background: map-get($color, background);
    min-height: 100%;
}

a {
    color: map-get($color, beta);
    text-decoration: none;
    display: inline;
    cursor: pointer;
    transition: all map-get($base, transition-speed);

    &:hover {
        color: map-get($color, text);
    }
}

button {
    transition: all map-get($base, transition-speed);
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

.container {
    max-width: map-get($container, max-width);
    min-width: map-get($container, min-width);
    padding: 0 map-get($container, padding);
    margin: map-get($container, margin);

    @include breakpoint(beta) {
        padding: 0 map-get($container, padding)*2;
    }

    @include breakpoint(gamma-and-up) {
        padding: 0 map-get($container, padding)*4;
    }
}