/* Layout
==========
*/

*,
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: map-get($color, body);
}

body {
    overflow-x: hidden;
    font-family: arial, verdana, sans-serif;
    color: map-get($color, text);
}

.background {
    background: map-get($color, background);
    min-height: 100%;
}

a {
    color: map-get($color, beta);
    text-decoration: none;
    display: inline;
    cursor: pointer;
    transition: all map-get($base, transition-speed);

    &:hover {
        color: map-get($color, text);
    }
}

button {
    transition: all map-get($base, transition-speed);
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

.disable-hover,
.disable-hover * {
    pointer-events: none !important;
}

.container {
    @extend .clearfix;

    margin-left: map-get($container, margin-left);
    margin-right: map-get($container, margin-right);

    @include rem(max-width, map-get($container, max-width));
    @include rem(min-width, map-get($container, min-width));
    @include rem(padding-left, map-get($container, padding));
    @include rem(padding-right, map-get($container, padding));
    @include rem(margin-top, map-get($container, margin-top));
    @include rem(margin-bottom, map-get($container, margin-bottom));

    @include breakpoint(beta) {
        @include rem(padding-left, map-get($container, padding)*2);
        @include rem(padding-right, map-get($container, padding)*2);
    }

    @include breakpoint(gamma-and-up) {
        @include rem(padding-left, map-get($container, padding)*4);
        @include rem(padding-right, map-get($container, padding)*4);
    }
}