/*==============================
=            Layout            =
==============================*/

*,
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: $color-body;
}

body {
    font-family: arial, verdana, sans-serif;
    color: $color-text;
}

.background {
    background: $color-background;
    min-height: 100%;
}

a {
    color: $color-beta;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    transition: all $base-transition-speed;

    &:hover {
        color: $color-text;
    }
}

button {
    transition: all $base-transition-speed;
}

img {
    max-width: 100%;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

.container {
    max-width: $container-max-width;
    min-width: $container-min-width;
    padding: 0 $container-padding;
    margin: $container-margin;

    @include breakpoint(beta) {
        padding: 0 $container-beta-padding;
    }

    @include breakpoint(gamma-and-up) {
        padding: 0 $container-gamma-padding;
    }
}