/*================================
=            Parallax            =
================================*/

.parallax {
    position: relative;
    overflow: hidden;
    display: none;

    @include breakpoint(beta) {
        @include rem(height, 350px);
    }

    @include breakpoint(gamma-and-up) {
        @include rem(height, 450px);
    }

    &__img {
        min-width: 100%;

        @include breakpoint(beta) {
            left: -20%;
        }

        @include breakpoint(beta-and-up) {
            position: absolute;
            top: 0;
        }

        @include breakpoint(gamma-and-up) {
            left: 0;
        }
    }
}