/* Thumbnail grid
==========
*/

.thumbnail-grid {
    @extend .clearfix;

    margin-left: -(map-get($thumbnail-grid, margin) / 2);
    margin-right: -(map-get($thumbnail-grid, margin) / 2);

    &__item {
        position: relative;
        overflow: hidden;
        display: block;
        float: left;
        width: 50-(map-get($thumbnail-grid, margin));
        margin-bottom: map-get($thumbnail-grid, margin);
        margin-left: map-get($thumbnail-grid, margin) / 2;
        margin-right: map-get($thumbnail-grid, margin) / 2;

        @include mq(beta-and-up) {
            width: (100 / map-get($thumbnail-grid, row-count))-(map-get($thumbnail-grid, margin));
        }

        &:before {
            content: '';
            background: map-get($thumbnail-grid, overlay-bg);
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: all map-get($base, transition-speed);
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &__img {
        width: 100%;
    }
}
