/*================================
=            Tooltips            =
================================*/

.tooltip {
    display: inline-block;
    position: relative;
    cursor: help;

    &[data-tooltip-trigger=click] {
        cursor: pointer;
    }

    .tooltip__content,
    &:after {
        visibility: hidden;
        position: absolute;
        z-index: 100;
        opacity: 0;
        transition: all map-get($tooltip, transition-speed);
    }

    &.tooltip--active {
        .tooltip__content,
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }

    &:after {
        content: '';
        border: map-get($tooltip, arrow-width) solid transparent;
    }

    .tooltip__content {
        text-align: center;
        background: map-get($tooltip, bg-color);
        color: map-get($tooltip, color);
        width: map-get($tooltip, width);
        padding: map-get($tooltip, padding);
        border-radius: map-get($tooltip, border-radius);
        font-size: map-get($tooltip, font-size);
    }
}

[data-tooltip-position=top],
[data-tooltip-position=bottom] {
    &:after {
        left: 50%;
        margin-left: -#{map-get($tooltip, arrow-width)};
    }

    .tooltip__content {
        left: 50%;
        margin-left: -#{map-get($tooltip, width)/2};
    }
}

[data-tooltip-position=top] {
    &:after {
        top: -(map-get($tooltip, arrow-width)*2);
        border-top-color: map-get($tooltip, bg-color);
    }
}

[data-tooltip-position=bottom] {
    &:after {
        bottom: -(map-get($tooltip, arrow-width)*2);
        border-bottom-color: map-get($tooltip, bg-color);
    }
}

[data-tooltip-position=left],
[data-tooltip-position=right] {
    &:after {
        top: 50%;
        margin-top: -#{map-get($tooltip, arrow-width)};
    }

    .tooltip__content {
        top: 50%;
    }
}

[data-tooltip-position=right] {
    &:after {
        right: -(map-get($tooltip, arrow-width)*2);
        border-right-color: map-get($tooltip, bg-color);
    }

    .tooltip__content {
        right: -(map-get($tooltip, width)+map-get($tooltip, arrow-width)*2);
    }
}

[data-tooltip-position=left] {
    &:after {
        left: -(map-get($tooltip, arrow-width)*2);
        border-left-color: map-get($tooltip, bg-color);
    }

    .tooltip__content {
        left: -(map-get($tooltip, width)+map-get($tooltip, arrow-width)*2);
    }
}

