/* Button sizes
==========
*/

.btn {
    &--small {
        @include rem(padding, map-get($btn, padding-small));
        @include rem(font-size, map-get($btn, font-size-small));
    }

    &--medium {
        @include rem(padding, map-get($btn, padding-medium));

        @include mq(beta-and-up) {
            @include rem(padding, map-get($btn, padding-medium-beta));
            @include rem(font-size, map-get($btn, font-size-medium));
        }
    }

    &--large {
        @include rem(padding, map-get($btn, padding-large));

        @include mq(beta-and-up) {
            @include rem(padding, map-get($btn, padding-large-beta));
            @include rem(font-size, map-get($btn, font-size-large));
        }
    }
}

/*doc
---
title: Sizes
name: sizes
category: Buttons
---

All size related stuff can be edited in the settings file.

```html_example
<a class="btn btn--beta btn--small" href="#">button small</a>
<a class="btn btn--beta btn--medium" href="#">button medium</a>
<a class="btn btn--beta btn--large" href="#">button large</a>
```

*/