/*================================================
=            Default project settings            =
================================================*/


/*==========  Base  ==========*/

$base: (
    gradient         : false,
    ten              : 0.625em,
    font-size        : 16px,
    padding          : 10px,
    border-radius    : 2px,
    transition-speed : 0.2s
);


/*==========  Colors  ==========*/

$color: (
    white       : #ffffff,
    black       : #000000,
    text        : #222222,
    placeholder : #94adc4,
    selection   : #d1e4fe,
    alpha       : #f1f1f1,
    beta        : #2690b0,
    gamma       : #4eb455,
    delta       : #b44e4e,
    epsilon     : #444444,
    zeta        : #aba346
);


/*==========  Container  ==========*/

$container: (
    margin    : 0 auto,
    min-width : map-get($base, ten)*32,
    max-width : map-get($base, ten)*128,
    padding   : map-get($base, ten)
);


/*==========  Susy grid  ==========*/
// More settings:
// http://susydocs.oddbird.net/en/latest

$susy: (
    columns           : 12,
    gutters           : 1/2,
    column-width      : 4em,
    global-box-sizing : border-box
);


/*==========  Buttons  ==========*/

$btn: (
    container-padding       : map-get($base, padding) map-get($base, padding)*1.8,
    container-margin-bottom : map-get($base, ten)*3,
    gradient                : map-get($base, gradient),
    border-radius           : map-get($base, border-radius),
    bg-color-alpha          : map-get($color, alpha),
    bg-color-beta           : map-get($color, beta),
    bg-color-gamma          : map-get($color, gamma),
    bg-color-delta          : map-get($color, delta),
    bg-color-epsilon        : map-get($color, epsilon)
);



/*==========  Icons  ==========*/

$icon: (
    notification-info       : '',
    notification-success    : '',
    notification-error      : '',
    form-validation-success : '',
    form-validation-error   : '',
    form-checkbox           : '',
    form-select             : '',
    spinner-alpha           : '',
    spinner-beta            : '',
    spinner-gamma           : ''
);


/*==========  Off canvas  ==========*/

$off-canvas: (
    bg-color        : #f5f5f5,
    width           : 260px,
    toggle-bg-color : map-get($color, beta)
);


/*==========  Tabs  ==========*/

$tab: (
    bg-color                 : map-get($btn, bg-color-alpha),
    border-color             : darken(map-get($btn, bg-color-alpha), 5%),
    color                    : lighten(map-get($color, text), 20%),
    padding                  : 10px 15px,
    bg-color-active          : map-get($color, white),
    content-border-top-color : darken(map-get($btn, bg-color-alpha), 5%),
    content-padding          : 20px
);


/*==========  Tables  ==========*/

$table: (
    margin-bottom  : map-get($base, ten)*3,
    padding        : map-get($base, padding),
    border-color   : darken(map-get($btn, bg-color-alpha), 5%),
    border-radius  : map-get($base, border-radius),
    bg-color-zebra : #f8f8f8,
    bg-color-hover : #f6f6f6
);


/*==========  Tooltips  ==========*/

$tooltip: (
    width            : 220px,
    arrow-width      : 5px,
    transition-speed : map-get($base, transition-speed),
    bg-color         : map-get($color, beta),
    padding          : map-get($base, padding),
    border-radius    : map-get($base, border-radius),
    font-size        : map-get($base, ten)*1.2,
    color            : map-get($color, white)
);


/*==========  Modals  ==========*/

$modal: (
    overlay-bg-color      : map-get($color, black),
    overlay-opacity       : 0.4,
    content-bg-color      : map-get($color, white),
    content-padding       : map-get($base, ten)*4,
    content-border-radius : map-get($base, border-radius)
);


/*==========  Accordion  ==========*/

$accordion: (
    transition-speed    : map-get($base, transition-speed),
    padding             : map-get($base, padding),
    border-color        : darken(map-get($btn, bg-color-alpha), 5%),
    gradient            : map-get($base, gradient),
    border-radius       : map-get($base, border-radius),
    group-margin-bottom : 0,
    trigger-bg-color    : map-get($btn, bg-color-alpha),
    trigger-color       : map-get($color, text)
);


/*==========  Breadcrumbs  ==========*/

$breadcrumbs: (
    bg-color      : #f5f5f5,
    padding       : map-get($base, ten)*1.5 map-get($base, ten)*2,
    margin        : map-get($base, ten),
    divider-color : #cccccc,
    current-color : #aaaaaa
);


/*==========  Pricing tables  ==========*/

$pricing-table: (
    border-color    : darken(map-get($btn, bg-color-alpha), 5%),
    header-bg-color : lighten(map-get($color, black), 20%)
);


/*==========  Progress bar  ==========*/

$progress-bar: (
    bg-color       : map-get($color, alpha),
    value-bg-color : map-get($color, beta)
);


/*==========  Spinners  ==========*/
$spinner: (
    animation-speed : 1s,
    font-size       : 30px
);


