/* Base
==========
*/

$base: (
    gradient         : false,
    font-size        : 16px,
    padding          : 10px,
    border-radius    : 0,
    transition-speed : 0.2s
);


/* Colors
==========
*/

$color: (
    white       : #ffffff,
    black       : #000000,
    text        : #222222,
    placeholder : #94adc4,
    selection   : #d1e4fe,
    alpha       : #f0f0f0,
    beta        : #2690b0,
    gamma       : #26a8b0,
    delta       : #26b0a1,
    epsilon     : #333333
);


/* Sections
==========
*/

$section: (
    padding-vertical        : 60px,
    paragraph-margin-bottom : 30px,
    list-margin-bottom      : 30px
);

$section-bg: (
    alpha   : map-get($color, white),
    beta    : map-get($color, beta),
    gamma   : map-get($color, gamma),
    delta   : map-get($color, delta),
    epsilon : map-get($color, epsilon)

    // Just add a color to make another button
    // Ex. zeta: map-get($color, zeta)
    // Ex. zeta: #123456
);


/* Container
==========
*/

$container: (
    min-width      : 320px,
    max-width      : 1280px,
    max-width-beta : 800px,
    margin-top     : 0,
    margin-bottom  : 0,
    margin-left    : auto,
    margin-right   : auto,
    padding        : 10px
);


/* Susy grid
==========
*/

$susy: (
    columns           : 12,
    gutters           : 1/2,
    column-width      : 4em,
    global-box-sizing : border-box,
    gutter-position   : before,

    // More settings:
    // http://susydocs.oddbird.net/en/latest
);


/* Block
==========
*/

$block: (
    bg            : lighten(map-get($color, alpha), 2%),
    padding-alpha : 10px,
    padding-beta  : 20px,
    padding-gamma : 30px
);


/* Buttons
==========
*/

$btn: (
    gradient                : map-get($base, gradient),
    gradient-bg             : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    border-width            : 0,
    border-radius           : map-get($base, border-radius),
    padding-small           : 8px 30px,
    padding-medium          : 12px 35px,
    padding-medium-beta     : 12px 35px,
    padding-large           : 15px 40px,
    padding-large-beta      : 18px 50px,
    font-size-small         : 16px,
    font-size-medium        : 17px,
    font-size-large         : 18px,
    line-height             : 16px,
    text-shadow             : 1px 0 1px rgba(0, 0, 0, 0.2),
    box-shadow-focus        : 0 0 10px,
    border-color-darken     : 5%,
    container-margin        : 0 0 30px 0,
    container-btn-padding   : 10px 18px,
    group-margin            : 0 0 30px 0,
    group-border-radius     : map-get($base, border-radius),
    holder-margin           : 40px 0 0 0
);

$btn-bg: (
    alpha   : map-get($color, alpha),
    beta    : map-get($color, beta),
    gamma   : map-get($color, gamma),
    delta   : map-get($color, delta),
    epsilon : map-get($color, epsilon)

    // Just add a color to make another button
    // Ex. zeta: map-get($color, zeta)
    // Ex. zeta: #123456
);


/* Margin
==========
*/

$margin: (
    alpha: 10px,
    beta: 20px,
    gamma: 30px,
    delta: 40px,
    epsilon: 50px
);


/* Icons
==========
*/

$icon: (
    notification-info         : '\e802',
    notification-success      : '\e800',
    notification-error        : '\e801',
    notification-close        : '\e808',

    form-checkbox             : '\e803',
    form-select               : '\e807',
    form-password-toggle      : '\e80e',
    form-password-toggle-show : '\e80f',

    nav-bar-trigger           : '\e80d',
    nav-bar-trigger-close     : '\e808',

    off-canvas-toggle-left    : '\e80d',
    off-canvas-toggle-right   : '\e80d',
    off-canvas-toggle-close   : '\e808',

    spinner-alpha             : '\e809',
    spinner-beta              : '\e80a',
    spinner-gamma             : '\e80b'
);


/* Form
==========
*/

$form: (
    margin                            : 0 0 40px 0,

    legend-border-bottom              : 1px solid #e5e5e5,
    legend-margin-bottom              : 20px,
    legend-font-size                  : 20px,
    legend-line-height                : 32px,
    label-line-height                 : 40px,
    label-text-align                  : right,

    input-color                       : #333333,
    input-border                      : 1px solid #e0e0e0,
    input-box-shadow                  : 0 -1px 0 rgba(0, 0, 0, 0.1),
    input-padding                     : 10px,
    input-focus-border                : 1px solid #cccccc,
    input-focus-box-shadow            : 0 0 10px rgba(0, 0, 0, 0.2),
    input-disabled-bg-color           : #f1f1f1,

    textarea-height                   : 160px,

    select-color                      : #888888,
    select-padding                    : 10px 10px 10px 5px,
    select-hover-box-shadow           : 0 0 15px rgba(0, 0, 0, 0.2),
    select-multiple-box-shadow        : 0 0 1px rgba(0, 0, 0, 0.1),
    select-icon-color                 : #bbbbbb,
    select-icon-height                : 42px,
    select-icon-font-size             : 14px,
    select-icon-top                   : 0,
    select-icon-right                 : 10px,

    switch-width                      : 30px,
    switch-height                     : 25px,
    switch-label-box-shadow           : 1px 1px 2px rgba(0, 0, 0, 0.1),

    input-list-margin-top             : 8px,
    input-list-item-margin-top        : 5px,

    checkbox-radio-size               : 20px,
    checkbox-radio-bg-color           : #f1f1f1,
    checkbox-radio-border-color       : #cbcbcb,
    checkbox-radio-box-shadow         : 0 0 10px rgba(0, 0, 0, 0.2),
    checkbox-radio-focus-bg-color     : #f1f1f1,
    checkbox-radio-focus-border-color : #cbcbcb,
    checkbox-radio-focus-box-shadow   : 0 0 10px rgba(0, 0, 0, 0.2),

    actions-margin-top                : 20px,
    actions-pre                       : 5,

    required-field-font-size          : 14px,

    validation-icon-right             : 10px,
    validation-icon-top               : 9px,
    validation-font-size              : 14px,
    validation-arrow-size             : 8px

);


/* Notifications
==========
*/

$notifications: (
    bg-color-info       : #2690b0,
    bg-color-success    : #26b036,
    bg-color-error      : #b02626,
    padding-alpha       : 20px 60px 20px 20px,
    padding-beta        : 30px 60px 30px 30px,
    margin-bottom       : 30px,
    border-width        : 0,
    close-color         : map-get($color, black),
    close-opacity       : 0.2,
    close-opacity-hover : 0.5,
    close-top           : 20px,
    close-right         : 20px,
    cookie-bg           : rgba(0, 0, 0, 0.85),
    cookie-padding      : 20px 0
);


/* Navigation bar
==========
*/

$navBar: (
    bg-color          : #222222,
    trigger-bg-color  : #222222,
    trigger-float     : right,
    trigger-height    : 50px,
    trigger-font-size : 30px,
    nav-position      : right,
    nav-margin-left   : 0,
    link-text-align   : center,
    link-padding      : 20px 30px,
    link-color        : map-get($color, white)
);


/* Off canvas
==========
*/

$off-canvas: (
    width                    : 260px,
    bg-color                 : darken(white, 5%),
    item-border-top-color    : map-get($color, white),
    item-border-bottom-color : darken(white, 10%),
    link-padding             : 20px,
    link-color               : map-get($color, black),
    toggle-bg-color          : map-get($color, beta),
    toggle-color             : map-get($color, white),
    toggle-font-size         : 30px,
    toggle-width             : 50px,
    toggle-height            : 50px,
    toggle-hover-darken      : 5%,
    overlay-opacity          : 0.3
);


/* Tabs
==========
*/

$tabs: (
    bg-color                 : map-get($btn-bg, alpha),
    border-color             : darken(map-get($btn-bg, alpha), 5%),
    color                    : lighten(map-get($color, text), 20%),
    padding                  : 15px 20px,
    margin-left              : 0,
    bg-color-active          : map-get($color, white),
    content-border-top-color : darken(map-get($btn-bg, alpha), 5%),
    content-padding          : 20px 0,
    item-transition-speed    : 0.5s
);


/* Table
==========
*/

$table: (
    margin-bottom  : 30px,
    padding        : map-get($base, padding),
    border-color   : darken(map-get($btn-bg, alpha), 5%),
    border-radius  : map-get($base, border-radius),
    bg-color-zebra : #f8f8f8,
    bg-color-hover : #f6f6f6
);


/* Tooltip
==========
*/

$tooltip: (
    min-width        : 150px,
    max-width        : 220px,
    arrow-width      : 5px,
    transition-speed : map-get($base, transition-speed),
    bg-color         : map-get($color, beta),
    padding          : map-get($base, padding),
    border-radius    : map-get($base, border-radius),
    font-size        : 12px,
    color            : map-get($color, white)
);


/* Modal window
==========
*/

$modal: (
    min-width                   : 320px,
    max-width                   : 630px,
    transition-duration         : 0.5s,
    content-bg-color            : map-get($color, white),
    content-padding             : 40px,
    content-border-radius       : map-get($base, border-radius),
    overlay-bg-color            : map-get($color, black),
    overlay-opacity             : 0.4,
);


/* Accordion
==========
*/

$accordion: (
    transition-speed           : map-get($base, transition-speed),
    padding                    : 15px 20px,
    border-color               : darken(map-get($btn-bg, alpha), 5%),
    gradient                   : map-get($base, gradient),
    border-radius              : map-get($base, border-radius),
    group-margin-bottom        : 0,
    trigger-icon-right         : 20px,
    trigger-bg-color           : map-get($btn-bg, alpha),
    trigger-bg-color-show      : map-get($color, beta),
    trigger-hover-darken       : 5%,
    trigger-color              : map-get($color, text),
    trigger-color-show         : map-get($color, white),
    trigger-gradient-bg        : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    trigger-icon-content       : '\e807',
    trigger-icon-content-after : '\e804',
    trigger-icon-color         : map-get($color, text),
    trigger-icon-color-show    : map-get($color, white),
    content-padding            : 0 20px,
    content-margin-top-first   : 20px
);


/* Breadcrumb
==========
*/

$breadcrumbs: (
    bg-color      : #f5f5f5,
    margin        : 0 0 40px 0,
    padding       : 15px 20px,
    link-margin   : 10px,
    divider       : '/',
    divider-color : #cccccc,
    current-color : #aaaaaa
);


/* Pricing tables
==========
*/

$pricing-table: (
    border-color          : darken(map-get($btn-bg, alpha), 5%),
    header-bg-color       : lighten(map-get($color, black), 20%),
    header-padding        : 15px 20px,
    content-padding       : 10px 20px,
    price-font-size       : 30px,
    description-font-size : 20px,
    action-padding-top    : 20px,
    action-padding-bottom : 20px
);


/* Progress bar
==========
*/

$progress-bar: (
    bg-color       : map-get($color, alpha),
    value-bg-color : map-get($color, beta)
);


/* Spinners
==========
*/

$spinner: (
    animation-speed : 1s,
    font-size       : 30px
);


/* Dropdown
==========
*/

$dropdown: (
    min-width           : 200px,
    max-width           : 300px,
    bg-color            : lighten(map-get($btn-bg, alpha), 5%),
    border              : 0 solid darken(map-get($btn-bg, alpha), 10%),
    transition-duration : 0.2s,
    transition-delay    : 0.5s,
    transform           : translate3d(0, 10%, 0),
    transform-hover     : translate3d(0, 0, 0),
    link-padding        : 10px 15px,
    link-bg-color       : transparent,
    link-bg-color-hover : lighten(map-get($accordion, trigger-bg-color), 3%),
    link-border-top     : 0 solid darken(map-get($btn-bg, alpha), 1%)
);

/* Media
==========
*/

$media: (
    margin-bottom       : 40px,
    bordered-padding    : 20px 0,
    bordered-border-top : 1px solid map-get($table, border-color),
);

/* Block grid
==========
*/

$block-grid: (
    row-count: 4,
    margin: 2%,
    overlay-bg: rgba(0, 0, 0, 0.4)
);