/*================================================
=            Default project settings            =
================================================*/


$base: (
    gradient         : false,
    ten              : 0.625em,
    font-size        : 16px,
    padding          : 10px,
    border-radius    : 2px,
    transition-speed : 0.2s
);


/*==========  Colours  ==========*/

$color: (
    white       : #ffffff,
    black       : #000000,
    text        : #222222,
    placeholder : #94adc4,
    selection   : #d1e4fe,
    alpha       : #f1f1f1,
    beta        : #2690b0,
    gamma       : #4eb455,
    delta       : #b44e4e,
    epsilon     : #444444,
    zeta        : #aba346
);


/*==========  Container  ==========*/

$container: (
    margin    : 0 auto,
    min-width : map-get($base, ten)*32,
    max-width : map-get($base, ten)*128,
    padding   : map-get($base, ten)
);


/*==========  Susy  ==========*/

$susy: (
    columns           : 12,
    gutters           : 1/2,
    column-width      : 4em,
    global-box-sizing : border-box,
    gutter-position   : before

    // More settings:
    // http://susydocs.oddbird.net/en/latest
);


/*==========  Buttons  ==========*/

$btn: (
    gradient                : map-get($base, gradient),
    gradient-bg             : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
    border-width            : 1px,
    border-radius           : map-get($base, border-radius),
    padding-small           : 8px 30px,
    padding-medium          : 12px 35px,
    padding-medium-beta     : 14px 35px,
    padding-large           : 15px 40px,
    padding-large-beta      : 18px 50px,
    font-size-small         : 16px,
    font-size-medium        : 17px,
    font-size-large         : 18px,
    line-height             : 16px,
    text-shadow             : 1px 0 1px rgba(0, 0, 0, 0.2),
    box-shadow-focus        : 0 0 10px,
    border-color-darken     : 5%,
    container-margin        : 0 0 30px 0,
    container-btn-padding   : 10px 18px,
    group-margin            : 0 0 30px 0,
    group-border-radius     : map-get($base, border-radius),
    holder-margin           : 40px 0 0 0
);

$btn-bg: (
    alpha   : map-get($color, alpha),
    beta    : map-get($color, beta),
    gamma   : map-get($color, gamma),
    delta   : map-get($color, delta),
    epsilon : map-get($color, epsilon)

    // Just add a color to make another button
    // Ex. zeta: map-get($color, zeta)
    // Ex. zeta: #123456
);


/*==========  Icons  ==========*/

$icon: (
    notification-info       : '\e802',
    notification-success    : '\e800',
    notification-error      : '\e801',
    notification-close      : '\e808',
    form-validation-success : '\e800',
    form-validation-error   : '\e801',
    form-checkbox           : '\e803',
    form-select             : '\e807',
    off-canvas-toggle-left  : '\e80d',
    off-canvas-toggle-right : '\e80d',
    off-canvas-toggle-close : '\e808',
    spinner-alpha           : '\e809',
    spinner-beta            : '\e80a',
    spinner-gamma           : '\e80b'
);


/*==========  Off canvas  ==========*/

$off-canvas: (
    bg-color        : #f5f5f5,
    width           : 260px,
    toggle-bg-color : map-get($color, beta)
);


/*==========  Tabs  ==========*/

$tab: (
    bg-color                 : map-get($btn-bg, alpha),
    border-color             : darken(map-get($btn-bg, alpha), 5%),
    color                    : lighten(map-get($color, text), 20%),
    padding                  : 10px 15px,
    bg-color-active          : map-get($color, white),
    content-border-top-color : darken(map-get($btn-bg, alpha), 5%),
    content-padding          : 20px
);


/*==========  Table  ==========*/

$table: (
    margin-bottom  : map-get($base, ten)*3,
    padding        : map-get($base, padding),
    border-color   : darken(map-get($btn-bg, alpha), 5%),
    border-radius  : map-get($base, border-radius),
    bg-color-zebra : #f8f8f8,
    bg-color-hover : #f6f6f6
);


/*==========  Tooltip  ==========*/

$tooltip: (
    width            : 220px,
    arrow-width      : 5px,
    transition-speed : map-get($base, transition-speed),
    bg-color         : map-get($color, beta),
    padding          : map-get($base, padding),
    border-radius    : map-get($base, border-radius),
    font-size        : map-get($base, ten)*1.2,
    color            : map-get($color, white)
);


/*==========  Modal  ==========*/

$modal: (
    overlay-bg-color      : map-get($color, black),
    overlay-opacity       : 0.4,
    content-bg-color      : map-get($color, white),
    content-padding       : map-get($base, ten)*4,
    content-border-radius : map-get($base, border-radius)
);


/*==========  Accordion  ==========*/

$accordion: (
    transition-speed    : map-get($base, transition-speed),
    padding             : map-get($base, padding),
    border-color        : darken(map-get($btn-bg, alpha), 5%),
    gradient            : map-get($base, gradient),
    border-radius       : map-get($base, border-radius),
    group-margin-bottom : 0,
    trigger-bg-color    : map-get($btn-bg, alpha),
    trigger-color       : map-get($color, text)
);


/*==========  Breadcrumb  ==========*/

$breadcrumbs: (
    bg-color      : #f5f5f5,
    padding       : map-get($base, ten)*1.5 map-get($base, ten)*2,
    margin        : map-get($base, ten),
    divider-color : #cccccc,
    current-color : #aaaaaa
);


/*==========  Pricing table  ==========*/

$pricing-table: (
    border-color    : darken(map-get($btn-bg, alpha), 5%),
    header-bg-color : lighten(map-get($color, black), 20%)
);


/*==========  Progress bar  ==========*/

$progress-bar: (
    bg-color       : map-get($color, alpha),
    value-bg-color : map-get($color, beta)
);


/*==========  Spinner  ==========*/

$spinner: (
    animation-speed : 1s,
    font-size       : 30px
);


