/* Icons
==========
*/

@mixin icons ($direction) {
    $class: icon;
    $pseudo: before;
    $margin: right;

    @if $direction == right {
        $class: icon-after;
        $pseudo: after;
        $margin: left;
    }

    .#{$class} {
        &.icon--ok-circled:#{$pseudo}     { content: '\e800'; }
        &.icon--cancel-circled:#{$pseudo} { content: '\e801'; }
        &.icon--info-circled:#{$pseudo}   { content: '\e802'; }
        &.icon--ok:#{$pseudo}             { content: '\e803'; }
        &.icon--up-open:#{$pseudo}        { content: '\e804'; }
        &.icon--right-open:#{$pseudo}     { content: '\e805'; }
        &.icon--left-open:#{$pseudo}      { content: '\e806'; }
        &.icon--down-open:#{$pseudo}      { content: '\e807'; }
        &.icon--cancel:#{$pseudo}         { content: '\e808'; }
        &.icon--spin2:#{$pseudo}          { content: '\e809'; }
        &.icon--spin5:#{$pseudo}          { content: '\e80a'; }
        &.icon--spinner1:#{$pseudo}       { content: '\e80b'; }
        &.icon--attention:#{$pseudo}      { content: '\e80c'; }
        &.icon--menu:#{$pseudo}           { content: '\e80d'; }
        &.icon--eye:#{$pseudo}            { content: '\e80e'; }
        &.icon--eye-off:#{$pseudo}        { content: '\e80f'; }

        &:#{$pseudo} {
            @extend %font-icons;

            display: inline-block;
            text-decoration: inherit;
            speak: none;
            font-style: normal;
            font-weight: normal;
        }

        &.icon--margin-alpha:#{$pseudo} { @extend .margin-alpha-#{$margin}; }
        &.icon--margin-beta:#{$pseudo}  { @extend .margin-beta-#{$margin};  }
    }
}

@include icons(left);
@include icons(right);
