/* Off canvas
==========
*/

.off-canvas-toggle-left,
.off-canvas-toggle-right {
    @extend %font-icons;

    background: map-get($off-canvas, toggle-bg-color);
    position: absolute;
    top: 0;
    z-index: 10000;
    color: map-get($off-canvas, toggle-color);
    text-align: center;
    border: none;

    @include rem(font-size, map-get($off-canvas, toggle-font-size));
    @include rem(width, map-get($off-canvas, toggle-width));
    @include rem(height, map-get($off-canvas, toggle-height));

    &:hover {
        background: lighten(map-get($off-canvas, toggle-bg-color), map-get($off-canvas, toggle-hover-darken));
        color: map-get($color, white);
        text-decoration: none;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.off-canvas-toggle-left {
    @include rem(right, -(map-get($off-canvas, toggle-width)));

    &:before {
        content: map-get($icon, off-canvas-toggle-left);

        .off-canvas-show-left & {
            content: map-get($icon, off-canvas-toggle-close);
        }
    }
}

.off-canvas-toggle-right {
    @include rem(left, -(map-get($off-canvas, toggle-width)));

    &:before {
        content: map-get($icon, off-canvas-toggle-right);

        .off-canvas-show-right & {
            content: map-get($icon, off-canvas-toggle-close);
        }
    }
}

.off-canvas {
    background: map-get($off-canvas, bg-color);
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;

    @include rem(width, map-get($off-canvas, width));

    &--left {
        left: 0;
        transform: translate3d(-#{map-get($off-canvas, width)}, 0, 0);
        transition: transform map-get($base, transition-speed);

        .off-canvas-show-left & {
            transform: translate3d(0, 0, 0);
        }

        .no-csstransforms3d & {
            left: -#{map-get($off-canvas, width)};
        }

        .no-csstransforms3d.off-canvas-show-left & {
            left: 0;
        }
    }

    &--right {
        right: 0;
        transform: translate3d(map-get($off-canvas, width), 0, 0);
        transition: transform map-get($base, transition-speed);

        .off-canvas-show-right & {
            transform: translate3d(0, 0, 0);
        }

        .no-csstransforms3d & {
            right: -#{map-get($off-canvas, width)};
        }

        .no-csstransforms3d.off-canvas-show-left & {
            right: 0;
        }
    }
}

.off-canvas-push {
    &:after {
        content: '';
        background: map-get($color, black);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: all map-get($base, transition-speed);

        .off-canvas-show-left &,
        .off-canvas-show-right & {
            visibility: visible;
            opacity: map-get($off-canvas, overlay-opacity);
        }

        .lt-ie10 & {
            display: none;
        }
    }
}

.off-canvas-nav__item {
    border-top: 1px solid map-get($off-canvas, item-border-top-color);
    border-bottom: 1px solid map-get($off-canvas, item-border-bottom-color);

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.off-canvas-nav__link {
    display: block;
    color: map-get($off-canvas, link-color);

    @include rem(padding, map-get($off-canvas, link-padding));

    &.active,
    &.scrollspy-nav--active
    &:hover {
        background: lighten(map-get($off-canvas, bg-color), 3%);
    }
}
