/* Sections
==========
*/

.section {
    color: map-get($color, white);

    @include rem(padding-top, map-get($section, padding-vertical));
    @include rem(padding-bottom, map-get($section, padding-vertical));

    @include mq(beta) {
        @include rem(padding-top, map-get($section, padding-vertical)*1.5);
        @include rem(padding-bottom, map-get($section, padding-vertical)*1.5);
    }

    @include mq(gamma-and-up) {
        @include rem(padding-top, map-get($section, padding-vertical)*2);
        @include rem(padding-bottom, map-get($section, padding-vertical)*2);
    }

    @each $key, $value in $section-bg {
        &--#{$key} {
            background: map-get($section-bg, $key);
        }
    }

    > .container > *:last-child {
        margin-bottom: 0;
    }

    &--alpha {
        color: map-get($color, text);
    }
}

.section-img {
    background: url(../dist/img/someimage.jpg) center center fixed;
    background-size: cover;

    @include rem(height, 300px);

    @include mq(beta) {
        @include rem(height, 400px);
    }

    @include mq(gamma-and-up) {
        @include rem(height, 500px);
    }
}

.section__list {
    @include rem(margin-bottom, map-get($section, list-margin-bottom));
}

.section__paragraph {
    @include rem(margin-bottom, map-get($section, paragraph-margin-bottom));
}
