/* Cards
==========
*/

.card {
	position: relative;
	display: block;
	background: white;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

/*doc
---
title: Cards
name: cards
category: Content
---

Cards borrow the button color settings. Basic styling of the cards are heavily inspired by the MDL cards. 
You could always remove some elements you won't be using such as action.

## Color

```html_example
<div class="card">
	<div class="card__header card__header--gamma">
		<div class="card__title">A title</div>
	</div>
	<div class="card__content">
		Some content
	</div>
	<div class="card__action">
		<button class="btn btn--beta btn--medium">action</a>
	</div>
</div>
```

## Image
```html_example
<div class="card">
	<div class="card__header card__header--gamma" style="background-image: url(http://www.placehold.it/640x480)">
		<div class="card__title">A title</div>
	</div>
	<div class="card__content">
		Some content
	</div>
	<div class="card__action">
		<button class="btn btn--beta btn--medium">action</a>
	</div>
</div>
```

*/





